/********************/
/*/ Framework Styles **/
/********************/



@import 'foundation/functions';

@import './homes-ui/Base';
$module-udp-title-spacing-vertical: rhythm-px(.5) !default !global;
$module-udp-title-color: $blue !default !global;
$module-udp-title-font-size: $font-size-xlarge !default !global;
$module-udp-title-font-weight: 300 !default !global;
$module-udp-title-reset-line-height: false !default !global;
@import './homes-ui/Mixins';
@import './homes-ui/plugins/Tooltip';
@import './homes-ui/plugins/Slider';
@import './homes-ui/plugins/PseudoSelect';
@import './homes-ui/plugins/bootstrap-tooltip';
@import './homes-ui/default';
@import './frame/frame-header-v3';

/** Begin Layout **/


// Structure

// Media Box
.media-box {
    @include media-box;
}

.media-box--right {
    @include media-box($position: right);
}

// Components / Modules
.bd {
    @extend %bd;
}

// Breadcrumbs


// Tabs
// @import "mixins/homes-ui/module-tabs";

// Lists
.list-noBullets {
    @include list-noBullets;
}

.list-bordered {
    @include list-bordered;
}

// close

.close-button {
    @include close-button;
    @include close-button-color('grey');
}

.close-invert {
    @include close-button-color('invert');
}

.close-transparent {
    @include close-button-color('transparent');
}

.background-whiteGrey {
    @include background-whiteGrey;
}

.background-greyWhite {
    @include background-greyWhite;
}

.background-stripedLightGrad {
    @include background-stripedLightGrad;
}

// Photo Frame
.photo-frame {
    @include photo-frame;
}

// Forms
.form {
    // needs refactoring
}

// @import "mixins/homes-ui/module-forms";
// @import "mixins/homes-ui/layout-leadform";

// Maps
.map {
    // ToDo: needs mapsearch
}

// Widgets
.widget {
    @include widget;
}

// Plugin
.tooltip-button {
    @include tooltip-button;
}


// Slider & flexslider
// @import "./homes-ui/plugins/flexslider";
// @import "mixins/homes-ui/plugin-flexslider-theme";

@import "./homes-ui/components/alpha-list";

// @import "mixins/homes-ui/layout-kss";
// site Wide nav
.nav-user > .nav-item > .button {
    margin: 0;
}

#logo {
    @include frame-logo;
    & > a {
        height: image-height('default/homescom_logo.png');
        width: image-width('default/homescom_logo.png');
        background: image-url('default/homescom_logo.png');
    }
}

.frame-header .nav-site {
    line-height: inherit;
}

.nav-item > a > em {
    color: $mediumGrey;
    font-style: normal;
    padding-right: .4em;
}

.login-divider.divider--vertical {
    position: absolute;
    right: 100%;
    height: 100%;
    & > .divider-label {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $white;
        line-height: 20px;
    }
}

.login {
    > .row {
        min-width: 45rem;
    }
    .button {
        // margin-top: rem-calc(10);
    }
}

// mostly used on details pages
.module-title {
    @include module-title;
    @include trailing-border($width: 1px, $lines: 0.25, $font-size: $module-udp-title-font-size); // adds padding with border
    border-bottom-color: $mediumGrey;
}

.wrap-table {
    @include wrap-table;
}
