.breadcrumbs-details--module {
    padding-bottom: rhythm-px(0.25);
    font-size: $font-size-xsmall + 1;
    .breadcrumbs-details-container {
        color: $blue;
        .breadcrumbs-details-column {
            &:first-child {
                a {
                    font-weight: 700;
                }
                padding-right: grid-space(3);
            }
            display: inline-block;
            .breadcrumbs-details-backbtn {
                text-align: left;
                &:before {
                    @include icon-hui('back');
                    position: relative;
                    top: rhythm-px(0.05);
                }
            }
            .breadcrumbs-details-label {
                display: inline-block;
                &:after {
                    @include icon-hui('chevron-right');
                    position: relative;
                    top: rhythm-px(0.05);
                }
                &:last-child {
                    color: $darkGrey;
                    &:after {
                        content: '';
                    }
                }
            }
        }
    }
}
