// Get More great deals LDP 
.get-more-deals--container {
    .module-title {
        margin-bottom: 0;
    }
    .get-more-deals-accordion-btn {
        text-align: right;
        position: absolute;
        right: 0;
        margin-top: rhythm-px(0.6);
        margin-bottom: 0;
        cursor: pointer;
    }
    .ad-main-container {
        border-bottom: 1px solid $mediumGrey;
        min-height: rhythm-px(2);
        padding: rhythm-px(0.25) 0;
    }

    [hui-preview-accordion-content] {
        min-height: rhythm-px(2);
    }
}
