

.home-search--form {
    @include media-box($position: right, $space: 0);
    height: rhythm-px(5.5);
    background-color: rgba($white, 0.7);
    width: grid-space(90);
    margin: rhythm-px(2.5) auto 0;
    padding: rhythm-px(1.5) grid-space(5);
    font-size: $font-size-large;

    .details {
        overflow: visible;

        &.search--icon {
            &::before {
                @include icon-inline($side: left);
                @include icon-hui('search');
                float: left;
                position: relative;
                left: grid-space(2);
                top: rhythm-px(1.5);
                color: $mediumDarkGrey;
                z-index: 10;
            }

            .search-form--field {
                height: rhythm-px(2.5);
                font-size: $font-size-large;
                border: none;
                float: left;
                width: 100%;
                color: $darkGrey;
                margin-right: 0;

                // IE 8,9,10 Fix
                @media screen\0 {
                    width: grid-space(52.1);
                }
                // Safari Fix
                &:not(*:root) {
                    width: grid-space(51.8);
                }

                .float-label {
                    @include box-shadow(none); //override the default shadow for the float lanbels
                    border-radius: 0;
                    border-width: 0;
                    height: rhythm-px(2.5);
                    padding-left: grid-space(5);
                    padding-top: rhythm-px(.75);
                    font-size: $font-size-large;
                    color: $mediumDarkGrey!important;

                    &.form-field--has-value {
                        padding-top: rhythm-px(.5);
                    }
                }
            }

            .autosuggest, .secondary {
                margin: 0 0 0 grid-space(-0.2);
                border-width: 0 rhythm-px(.1) grid-space(.2);
                font-size: $font-size-medium;
                overflow-y: auto;
            }
        }
    }

    .search-form--select {
        height: rhythm-px(2.5);
        font-size: $font-size-large;
        color: $darkGrey;
        border: 1px solid $lightGrey;
        float: left;
        background-color: $white;
        width: grid-space(16);
        position: relative;

        .select--button-text:after {
            @include icon-inline($side: right);
            @include icon-hui('arrow-down');
            position: absolute;
            float: left;
            top: 50%;
            left: grid-space(11.5);
            color: $mediumDarkGrey;
            font-size: $font-size-large;
            margin-top: 0;
        }

        .dropdown-menu {
            color: $darkGrey;
        }
    }

    .button {
        height: rhythm-px(2.5);
        font-size: $font-size-large;
        background-color: $blue;
        @include border-left-radius(0);
        float: left;
        padding: 0 grid-space(3);
    }
}
