$global-nav-height: 50px !global !default;

.page-home--content {
    min-width: grid-space(100);
    max-width: grid-space(110);
    margin: 0 auto;
}

.page-homepage {
    .homepage--home-search {
        position: relative;
        height: rhythm-px(35) - $global-nav-height; // 700 - 50px
        background: no-repeat center center;
        background-size: cover;
        background-color: rgba(72, 72, 72, .5);

        .home-search-header {
            text-align: center;
            font-size: $font-size-gigantor - 3px;
            color: $white;
            margin: 0;
            padding: 0;
            line-height: 1;
            text-shadow: 0 2px 2px $darkGrey;
            letter-spacing: -.05em;
            font-weight: 600;
        }
        .home-search--content {
            position: absolute;
            top: rhythm-px(7.5);
            left: 50%;
            @include transform(translateX(-50%));
        }
    }

    .homepage--promo {
        height: rhythm-px(22.75); // 455px
        width: 100%;

        .promo--left,
        .promo--right {
            height: 100%;
            width: 50%;
            float: left;

            img {
                max-height: rhythm-px(22.75); //475px
                margin: 0 auto;
            }

            .promo--content {
                width: 100%;
                height: 100%;
                text-align: left;
            }
        }
        .promo--left {
            background: url('/images/cta/app_promo_home.jpg') no-repeat right center;
            background-size: cover;

            .promo--container {
                position: relative;
                height: 100%;
                float: right;
                width: $homepage-content-width / 2;

                .promo--content {
                    position: absolute;
                    height: rhythm-px(19.25);
                    width: grid-space(28.5);
                    right: grid-space(-2);
                    top: 50%;
                    @include transform(translate(-20%, -50%));
                }

                .promo--title {
                    padding-top: rhythm-px(2.5);
                    font-size: $font-size-xlarge + 4px;
                    font-weight: 600;
                    color: $darkBlue;
                }

                .promo--description {
                    font-size: $font-size-large;
                    color: $darkBlue;
                    margin-bottom: rhythm-px(0.5);
                }

                .promo--app-link {
                    font-size: $font-size-normal;
                    color: $darkBlue;
                }

                .promo--app-button {
                    font-size: $font-size-normal;
                    padding: rhythm-px(0.5) grid-space(1);
                    line-height: rhythm-px(1);
                    height: rhythm-px(2);
                    margin-top: rhythm-px(2.5);
                    margin-right: grid-space(1.5);
                }

            }
        }
    }

    .homepage--local-pros {
        height: rhythm-px(28.5); // 570px
        color: $white;
        background: $mediumBlue;
        h2 {
            color: inherit;
        }
    }

    .homepage--blog {
        @include clearfix();
        padding: rhythm-px(5) 0;
        width: 100%;
        background: $lightGrey;
        text-align: center;

        .blog-title {
            @include adjust-font-size-to($to-size: $font-size-gigantor, $from-size: $font-size-normal);
            color: $darkGrey;
            font-weight: 600;
            margin: 0 0 rhythm-px(2.5);
        }

        .page-home--content{
            min-width: grid-space(100);
            max-width: grid-space(110);

            .blog-highlight {
                float: left;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                margin: 0 grid-space();
                width: grid-space(31);
                height: rhythm-px(20);
                margin: 0 grid-space(1.5);

                a {
                    width: 100%;
                    height: 100%;
                    display: inline-block;
                    white-space: normal;
                    font-weight: 300;
                    color: $white;
                    position: relative;

                    .post-class {
                        color: $white;
                        position: absolute;
                        top: 0;
                        left: 50%;
                        @include transform(translateX(-50%));
                        margin: 0;
                        padding: rhythm-px(.25) grid-space();
                        font-weight: 600;
                        white-space: nowrap;

                        &.left {
                            background-color: $mediumBlue;
                        }

                        &.middle {
                            background-color: $redOrange;
                        }

                        &.right {
                            background-color: $darkBlue;
                        }
                    }

                    .post-content {
                        position: absolute;
                        left: 0;
                        top: 75%;
                        width: 100%;
                        text-align: center;

                        .post--header {
                            @include adjust-font-size-to($to-size: $font-size-large+2, $from-size: $font-size-normal);
                            line-height: $font-size-large+2;
                            font-weight: 600;
                            display: block;
                            text-transform: uppercase;
                            margin-bottom: 0;
                        }
                        .post--text {
                            @include adjust-font-size-to($to-size: $font-size-medium, $from-size: $font-size-normal);
                        }
                    }
                }
            }
        }
    }

    .global-nav--footer-push {
        height: 0;
    }

    // tablet specific styling
    @media only screen and (max-width: 1024px) {
        // Blog cell widths
        .homepage--blog {
            .page-home--content{
                .blog-highlight {
                    margin: 0 grid-space(1.1);
                }
            }
        }
    }

/*********************************************/
/* IE 9 outdated message layout for homepage */
/*********************************************/
.ie-update {
    .global-nav-header {
        padding: rhythm-px(.5) grid-space(2);
    }

    .ie-message-container {
        width: 100%;
        height: rhythm-px(40);
        border-bottom: 1px solid $darkGrey;
        position: relative;
        background-image: url('/images/random-background/homepage-hero06.jpg');
        background-position: center center;
        background-size: cover;

        .ie-message-text {
            position: absolute;
            top: rhythm-px(8.5);
            right: 0;
            width: grid-space(85);
            min-height: rhythm-px(15);
            padding: rhythm-px(4) grid-space(8);

            h1, h2, h3 {
                color: $white;
                text-shadow: 0 2px 2px $darkGrey;

                a {
                    color: $white;
                    text-decoration: underline;
                }
            }
        }
    }
}


/* Homepage Local Pros Styling */
@import 'modules/local-pros';

}
