// MLS Lightbox
.mls-trusted-lightbox {
    .module-title {
        white-space: nowrap;
    }

    .wrap-shade {
        margin-top: rhythm-px(.75);
        margin-bottom: rhythm-px(.75);
    }

    .mls-listing-info {
        @include clearfix();
        margin: 0;

        dt, dd {
            float: left;
            margin: 0;
        }
        dt {
            width: grid-space(11);
            clear: left;
        }
        dd {
            font-weight: 700;
        }
    }

    .disclaimer {
        font-style: normal;
    }
}
