.search-header {
    @include transition(transform .3s ease-in-out);
    @include transform(translate(0, -100%));
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: $lightGrey;

    .search-header--content {
        @include clearfix();
        margin: 0 auto;
        min-width: grid-space(100);
        max-width: grid-space(110);
        height: rhythm-px(4.5);
        padding: 0 grid-space(1.5);

        .search-header--logo {
            @extend #logo;
            @include transition(opacity .3s ease-in-out);
            float: left;
            margin-top: rhythm-px(1.5);
            opacity: 1;

            & > a {
                background-size: grid-space(13.5), rhythm-px(1.75);
                background-repeat: no-repeat;
            }
        }

        .search-header--centered {
            margin-left: auto;
            padding-left: 0 grid-space(1.5) 0 grid-space(1.5);
            width: grid-space(88);

            .find-your-home {
                float: left;
                margin-top: rhythm-px(1.70);
                color: $orange;
                font-size: $font-size-large;
                font-weight: 400;
            }

            .search-form--wrapper {
                @include media-box($position: right, $space: 0);
                float: left;
                padding: rhythm-px(.5) grid-space(1.5) 0;
                width: grid-space(57.9);

                .search-form--field,
                .search-form--select,
                .select--button,
                .select--button-text,
                .float-label,
                .button {
                    height: rhythm-px(2.5);
                }

                .details {
                    overflow: visible;

                    .search-form--field {
                        float: left;
                        width: grid-space(36.5);
                        font-size: $font-size-medium;

                        .float-label {
                            @include box-shadow(none); //override the default shadow for the float labels
                            border: 0;
                            border-bottom: 1px solid $white;
                            padding: rhythm-px(.75) grid-space(1.5) rhythm-px(.25);

                            &.form-field--has-value {
                                padding-top: rhythm-px(.5);
                            }
                        }
                        // Fix for Firefox
                        @-moz-document url-prefix() {
                            & { width: grid-space(36.4); }
                        }
                        // Fix for IE 8,9 10
                        @media screen\0 {
                            & { width: grid-space(36.2); }
                        }
                        // Fix for Safari
                        @supports (overflow:-webkit-marquee) and (justify-content:inherit) {
                            & { width: grid-space(36.6); }
                        }
                    }
                }

                .search-form--select {
                    font-size: $font-size-medium;
                    color: $darkGrey;
                    border-left: 1px solid $lightGrey;
                    float: left;
                    background-color: $white;
                    width: grid-space(13.5);
                    box-sizing: border-box;
                    position: relative;

                    .select--button-text:after {
                        @include icon-inline($side: right);
                        @include icon-hui('arrow-down');
                        position: absolute;
                        float: left;
                        top: 50%;
                        left: grid-space(9.5);
                        color: $mediumGrey;
                        font-size: $font-size-medium;
                        margin-top: 0;
                    }

                    .dropdown-menu {
                        margin: 0;
                        width: grid-space(12.53);
                        border: 1px solid $lightGrey;
                        color: $darkGrey;
                    }
                }

                .autosuggest, .secondary {
                    margin: 0 0 0 grid-space(-0.1);
                    border-width: 0 rhythm-px(.05) grid-space(.1);
                    border-color: $lightGrey;
                    font-size: $font-size-medium;
                }

                .button {
                    @include border-right-radius($global-radius);
                    @include border-left-radius(0);
                    float: left;
                    line-height: rhythm-px(2);

                    .search-button--content {
                        &:before {
                            font-size: $font-size-large+2;
                            @include icon-hui('search');
                            padding: 0;
                            margin: 0 grid-space(-0.8);
                        }
                    }
                }

                .form-message {
                    margin: rhythm-px(2.5) grid-space(18) rhythm-px(0.05) 0;
                }
            }
        }

        .go-mobile {
            float: right;
            padding-top: rhythm-px(1.8);
            color: $blue;
            font-size: $font-size-normal + 1;
            font-weight: 600;
        }
    }

    &.search-header--push-down {    // Allowing for possible additions for other classes in future
        .search-header--logo {
            opacity: 0;
        }
    }

    &.search-header--visible {
        @include transform(translate(0, 0));
        @include box-shadow(0px 2px 4px 0px rgba(0,0,0,0.15));
    }

    &.search-header--push-down {
        @include transform(translate(0, 40px));
    }
}
