.veteran-lightbox--modal-splash {
	font-size: $font-size-medium;
    color: $darkGrey;
	width: grid-space(63.5);
	box-shadow: 0 0 0 1px $mediumGrey,0 0 5px rgba(0,0,0,0.5);
	border-top: rhythm-px(0.25) solid $orange;
    background-color: $white;

	.veteran-lightbox--heading {
		background-image: url('/images/veteranunited/veterans_flyout_header.png');
		font-size: $font-size-2xlarge;
		line-height: rhythm-px(2.2);
		font-weight: 300;
		color: $blue;
		height: rhythm-px(6.3);
		padding: rhythm-px() grid-space(2);
		margin: 0;
	}

	.veteran-lightbox--text-placeholder, .veteran-lightbox--button-placeholder {
		padding: 0 grid-space(2);
		margin: rhythm-px() 0;
	}

	ul.veteran-lightbox--list {
		margin: 0 0 rhythm-px() grid-space(2);

		li {
			padding: rhythm-px(0.5) 0 rhythm-px(0.5) grid-space(4);

			&:before {
				content: '';
				vertical-align: middle;
				display: inline-block;
				margin-right: grid-space();
			}
		}

		li.no-down-payment-required:before {
			background-image: url('/images/veteranunited/nodownpayment.png');
			height: image-height('veteranunited/nodownpayment.png');
			width: image-width('veteranunited/nodownpayment.png');
		}

		li.lower-monthly-payments:before {
			background-image: url('/images/veteranunited/lowermonthlypayments.png');
			height: image-height('veteranunited/lowermonthlypayments.png');
			width: image-width('veteranunited/lowermonthlypayments.png');
		}

		li.no-private-mortgage-insurance:before {
			background-image: url('/images/veteranunited/nopmi.png');
			height: image-height('veteranunited/nopmi.png');
			width: image-width('veteranunited/nopmi.png');
		}
	}

	.button {
		font-weight: 700;
		line-height: rhythm-px(0.9);
		white-space: normal;
		height: rhythm-px(3.5);
		width: grid-space(28);
		padding: rhythm-px(0.75) grid-space(3);

		span {
			font-size: $font-size-normal;
			font-weight: 400;
		}

		&:hover {
			color: $white;
		    text-decoration: none;
		    background: $blue;
		}
	}

	.button:first-child {
		margin-right: grid-space(3);
	}
}

.veteran-lightbox--modal-splash + .ngdialog-close {
	display:none;
}
