// @huidoc module
// @name Wrap
// @module wrap
// @description
// Wraps are containers to set elements off from surrounding content.
//
// @styleguide 0.0.0

// @huidoc sass
// @name Shaded Wrap
// @module wrap
// @description
// Light Grey Wrapper
//
// @markup <div class="wrap-shade">Wrapped content</div>
//
// @styleguide 0.0.0

.wrap-shade {
    @include wrap-shade;
}

.wrap-blue {
    background-color: $blue;
    @include wrap-padding;
}
.wrap-dark {
    background-color: $darkGrey;
    color: $white;
    @include wrap-padding;
}