//@huidoc module
//@name Effects
//@module effects
//
//@description
// Effects are styles manipulated by scripts, (animations, dimensions etc.)
//
//@styleguide 0.0.0

//@huidoc mixin
//@name lock-scroll
//@module effects
//@description
// On desktop platforms, overflow:hidden on the body or an element is enough to lock scrolling

@mixin lock-scroll($extend: true) {
    @if $extend {
        @extend %lock-scroll;
    } @else {
        overflow: hidden;
    }
}

//@huidoc mixin
//@name lock-scroll-mobile
//@module effects
//@description
// On mobile, esp. with iOS momentum scrolling. overflow:hidden on the body or an element is not enough to lock scrolling
@mixin lock-scroll-mobile($extend: true) {
    @if $extend {
        @extend %lock-scroll-mobile;
    } @else {
        @include lock-scroll;
        position: fixed !important;
        max-width: 100% !important;
        width: 100% !important;
    }
}

@if import-once('Effects.scss') {
    %lock-scroll {
        @include lock-scroll($extend: false);
    }
    %lock-scroll-mobile {
        @include lock-scroll-mobile($extend: false);
    }
}
