// @huidoc module
// @name Feedback
// @module feedback
// @description
// The feedback module gives feedback to the user.
//
// Markup:
// <div class="wrap-shade">
// 	Maecenas a porta nibh, sed tincidunt diam. Sed non egestas neque. Quisque sagittis tellus ac massa commodo mattis. Ut nec blandit lacus. Aliquam vestibulum dui eget magna bibendum placerat. Mauris tempor tempor facilisis. Mauris adipiscing elit sit amet erat adipiscing, sit amet convallis nibh placerat. Aenean convallis nulla at dui interdum fermentum.
// </div>
//
// @styleguide 4.3

// @huidoc mixin
// @name alert
// @module feedback
//
// @description
// [Compass rhythm function](http://compass-style.org/reference/compass/typography/vertical_rhythm/#function-rhythm).
// On HDC returns rhythm units in em for margins, padding, etc.
//
// @param {float=1} $lines Number of lines
// @param {length=$base-font-size} $font-size Context font-size
// @param {length=0} $offset Offset (for borders)
//
// @returns {length} Measurement in ems
//
// @example
// ```scss
// p {
// 	margin: rhythm() 0;
// }
// ```
//
// @styleguide 2.1.1

$wrap-shade-padding-side: $grid-space * 3.5 !global !default;

@mixin alert($color: 'orange', $extend: false) {
    @if $extend {
        @extend %alert-#{$color};
    } @else {
        @include border-radius($global-radius);
        @include clearfix($extend: true);

        background: $lightGrey;
        padding: rhythm-px() $wrap-shade-padding-side;
    }
}

// @huidoc mixin
// @name spinner
// @module feedback
//
// @description
// [Compass rhythm function](http://compass-style.org/reference/compass/typography/vertical_rhythm/#function-rhythm).
// On HDC returns rhythm units in em for margins, padding, etc.
//
// @param {float=1} $lines Number of lines
// @param {length=$base-font-size} $font-size Context font-size
// @param {length=0} $offset Offset (for borders)
//
// @returns {length} Measurement in ems
//
// @example
// ```scss
// p {
// 	margin: rhythm() 0;
// }
// ```
//
// @styleguide 2.1.1

@mixin spinner($extend: true) {
    @if $extend {
        @extend %spinner;
    } @else {
        background: white url(/media/portalimgcache/loading.gif) center center no-repeat;
    }
}

@if import-once("Feedback.scss") {
    %spinner {
        @include spinner($extend: false);
    }
    %alert {
        @include alert($extend: false);
    }
}
