//
// @name Fluid Columns
// @module structure
//
// @param 
// 
// @example
// 	@include PhotoF;
// @markup
// <div class="puppy">
// 	<span class="mat"><img src="puppy.jpg"></span>
// </div>
// 

//left columnn only
// right column only
// both columns
// spacing

$grid-space: 15px !global !default;

$fluid-space: $grid-space !default;
$fluid-main-mame: '.m' !default;
$fluid-left-name: '.l' !default;
$fluid-right-name: '.r' !default;
$fluid-left-width: 666px !default;
$fluid-right-width: 300px !default;

$main: $fluid-main-mame !default;
$left: $fluid-left-width, $fluid-left-name !default;
$right: $fluid-right-width, $fluid-right-name !default;

// %fluidCols { 
// 	position:relative;
// 	@include clearfix($extend:true);
// 	&>.twin{
// 		width:100%;
// 	}
// 	&>.l, &>.r, &>.twin{
// 		float:left;
// 	}
// 	&>.l, &>.r, &>.twin>.m{
// 		position:relative;
// 		z-index: 4;
// 	}
// }

@mixin fluid-cols($main: $main, $left: $left, $right: false, $space: $fluid-space, $extend: true) {
    @if (($left == false) and ($right == false)) {
        @warn "#{error("No columns!")}";
    }

    //defaults
    $column-name: false;
    $left-name: $fluid-left-name;
    $left-width: $fluid-left-width;
    $right-name: $fluid-right-name;
    $right-width: $fluid-right-width;

    // settings
    $main-name: nth($main, 1);

    @if ($left) {
        $left-width: nth($left, 1);
        @if (type-of($left-width) != number) {
            @warn "#{error("Left column width is not a number")}";
        }
        @if (length($left) == 2) {
            $left-name: nth($left, 2);
        }
        @if ($column-name) {
            $column-name: join($column-name, $left-name);
        } @else {
            $column-name: $left-name;
        }
    }
    @if ($right) {
        $right-width: nth($right, 1);
        @if (type-of($right-width) != number) {
            @warn "#{error("Right column width is not a number")}";
        }
        @if (length($right) == 2) {
            $right-name: nth($right, 2);
        }
        @if ($column-name) {
            $column-name: join($column-name, $right-name);
        } @else {
            $column-name: $right-name;
        }
    }

    $column-name: prepend-selector($column-name, '&>');

    // Structure
    @if ($extend) {
        @extend %fluidCols !optional;
    } @else {
        position: relative;

        @extend %clearfix !optional;

        #{$column-name}, & > .twin {
            float: left;
        }
        #{$column-name}, & > .twin > #{$main-name} {
            position: relative;
            z-index: 4;
        }
    }

    // Use Widths
    & > .twin {
        @if ($extend == false) {
            width: 100%;
        }
        @if ($left) {
            margin-left: -1 * $left-width;
        }
        @if ($right) {
            margin-right: -1 * $right-width;
        }
        & > #{$main-name} {
            @if ($left) {
                margin-left: $left-width + $space;
            }
            @if ($right) {
                margin-right: $right-width + $space;
            }
        }
    }
    @if ($left) {
        & > #{$left-name} {
            width: $left-width;
        }
    }
    @if ($right) {
        & > #{$right-name} {
            width: $right-width;
        }
    }

    @content;
}

@if import-once('FluidCols.scss') {
    %fluid-cols {
        @include fluid-cols($main: $main, $left: $left, $right: false, $extend: false);
    }
}
