@import '../Base';

//
// Frame
//
// Version 3 (UDP) - Frame Component
//
// Styleguide 9.

// Variables
//
// Frame Component Variables
//
// ```scss
// $grid-space: 10px !default;
//
// $frame-fullscreen: false !global !default;
// $frame-subheader: false !global !default;
//
// $frame-padding                  : $grid-space * 2 !default;
// $frame-col-padding              : $grid-space !default;
//
// $frame-header-height            : rhythm-px(2.5) !global !default;
// $frame-header-padding           : $grid-space !default;
//
// $frame-subheader-height         : rhythm-px(2) !default;
//
// $frame-footer-height            : 360px !default;
// $frame-footer-height-fullscreen : 0 !default;
//
// $frame-width                	: $site-content-width !default;
// $frame-min-width                : $site-min-width !default;
// $frame-min-height               : 0 !default;
//
// $frame-col-margin-top           : rhythm-px(.5) !default;
// $frame-col-margin-bottom        : rhythm-px() !default;
// $frame-col-right-width          : 300px !default;
// ```
//
// Styleguide 9.0.2

// Frame Variables
$grid-space: 10px !default;

$frame-fullscreen: false !global !default;
$frame-subheader: false !global !default;

$frame-z-header: 4 !global !default;
$frame-z-footer: 3 !global !default;
$frame-z-subheader: 2 !global !default;

$frame-padding: $grid-space * 2 !default;
$frame-col-padding: $grid-space !default;

$frame-header-height: rhythm-px(2.5) !global !default;
$frame-header-padding: $grid-space !default;

$frame-subheader-height: rhythm-px(2) !default;
$frame-subheader-nav-font-size: 14px !default !global;
$frame-subheader-padding: $frame-padding !default !global;

$frame-footer-height: 360px !default;
$frame-footer-height-fullscreen: 0 !default;

$frame-width: $site-content-width !default;
$frame-min-width: $site-min-width !default;
$frame-min-height: 0 !default;

$frame-col-margin-top: rhythm-px(.5) !default;
$frame-col-margin-bottom: rhythm-px() !default;
$frame-col-right-width: 300px !default;

// Proposed by design: 2/11/2014
// Max Site width: 1280px
// Max Content space: 1240px
// Min Site width: 1000px
// Min Content width: 960px

// Actual Site Wide Nav: 1/29/2014
// 1040px wide including 10px buffer on left and right.
// Content width is 1020px.
//
// | 10 | 10 |    325    | 20 |    325    | 10 | 10 | 10 |   300   | 10 | 10 |
// | 10 | 10 |            670             | 10 | 10 | 10 |   300   | 10 | 10 |
//
// Actual Site Wide Nav: 1/15/2014
// 1020px wide with 10px buffer on left and right.
// Content width is 1000px.
// | 10 | 10 |        660        | 10 | 10 |   300   | 10 | 10 |

@function frame-col-right-width () {
    @return $frame-col-right-width + $frame-col-padding * 2;
}

@function frame-col-left-width ($width: $frame-width) {
    @return $width - frame-col-right-width() - $frame-padding * 2 - $grid-space;
}

$frame-col-left-width: frame-col-left-width() !default;

@import "frame/Subheader";

// Standard Layout
@mixin frame-padding {
    padding: 0 $frame-padding;
}

@mixin frame-col-padding {
    padding: {
        left: $frame-col-padding;
        right: $frame-col-padding;
    }
}

@mixin frame-section($extend: true) {
    @if $extend {
        @extend %frame-section;
    } @else {
        position: relative;
    }
}

// Columns
@mixin frame-col($extend: true) {
    @if $extend {
        @extend %frame-col;
    } @else {
        margin: $frame-col-margin-top 0 $frame-col-margin-bottom;
        .shell {
            margin: 0 0 rhythm(1);
            &:first-child {
                margin-top: 0;
            }
        }
    }
}

@mixin frame-col-left($extend: true) {
    @if $extend {
        @extend %frame-col-left;
    } @else {
        @include frame-col;

        float: left;
        margin-right: frame-col-right-width() + $grid-space;
        min-width: frame-col-left-width();
    }
}

@mixin frame-col-right($extend: true) {
    @if $extend {
        @extend %frame-col-right;
    } @else {
        @include frame-col;

        float: right;
        margin-left: frame-col-right-width() * -1;
        width: $frame-col-right-width;
        // @include frame-col-padding;
    }
}

// Site Footer
@mixin frame-logo($extend: true) {
    // height: image-height('default/homescom_logo-v2.png');
    // width: image-width('default/homescom_logo-v2.png');
    margin-top: -4px;
    & > a {
        @include squish-text;
        display: block;
        height: 100%;
        // background:url(/media/portalimgcache/default/homescom_logo-v2.png) no-repeat;
    }
}

@mixin frame-header($extend: true) {
    @if $extend {
        @extend %frame-header;
    } @else {
        @include frame-section;
        @include clearfix;
        // @if ($frame-subheader == false) {
        border-bottom: 1px solid $mediumGrey;
        // }
        @if $frame-fullscreen {
            // @include frame-padding;
            // padding-left: $grid-space * 1.5;
            & > .frame-content {
                width: auto;
                padding: {
                    left: $frame-padding;
                    right: $frame-padding;
                }
            }
        } @else {
            & > .frame-content {
                padding: {
                    left: $frame-padding/2;
                    right: $frame-padding/2;
                }
            }
        }
        // background: $white;
        // z-index: 3;
    }
}

@mixin frame-footer($extend: true) {
    @if $extend {
        @extend %frame-footer;
    } @else {
        @include frame-section;
        @include clearfix;
        // background: $white;
        // z-index: 3;
        // @if $frame-fullscreen {

        // 	bottom: 0;
        // 	overflow: hidden;
        // 	height:$frame-footer-height;

        // 	width:100%;
        // 	text-align: center;

        // 	background: $darkGrey;
        // 	color: $white;
        // 	@include adjust-font-size-to($font-size-small);
        // 	.footer-copyright {
        // 		a{
        // 			color:inherit;
        // 		}
        // 		p {
        // 			margin:0;
        // 			position: relative;
        // 		}
        // 		p + p {
        // 			display: none;
        // 		}
        // 		.footer-eho{
        // 			position: absolute;
        // 			top: 0;
        // 			display: inline-block;
        // 			right: auto;
        // 			margin-left: -30px;
        // 		}
        // 	}
        // }
    }
}

@mixin frame-subheader($extend: true) {
    @if $extend {
        @extend %frame-subheader;
    } @else {
        @include frame-subheader-style;
    }
}

@mixin frame-content($extend: true) {
    @if $extend {
        @extend %frame-content;
    } @else {
        @include frame-section;
        @include frame-padding;
        @include autoH;
        width: $frame-width;
        z-index: 1;
    }
}

// Sticky Footer
@mixin frame-stickyFooter($wrapper: '#wrapper', $footer: '#footer', $push: '.push') {
    #{$wrapper} {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto (-1 * $frame-footer-height);
    }
    #{$footer},
    #{$push} {
        min-height: $frame-footer-height;
        clear: both;
    }
}

@if import-once("Frame.scss") {
    %frame-section {
        @include frame-section($extend: false);
    }
    // Columns
    %frame-col {
        @include frame-col($extend: false);
    }

    %frame-col-left {
        @include frame-col-left($extend: false);
    }

    %frame-col-right {
        @include frame-col-right($extend: false);
    }

    // Site Header and Footer
    %frame-header,
    %frame-footer {
        background: $white;
    }
    %frame-header {
        @include frame-header($extend: false);
        z-index: $frame-z-header;
    }
    %frame-footer {
        @include frame-footer($extend: false);
        z-index: $frame-z-footer;
    }
    %frame-subheader {
        @include frame-subheader($extend: false);
        z-index: $frame-z-subheader;
    }

    %frame-content {
        @include frame-content($extend: false);
    }
}

@import "frame/SiteNavigation";
