//*/ Maps **/

// Map Widgets
$map-radius: $global-radius !default;

$map-box-shadow-offset-x: 1px !default;
$map-box-shadow-offset-y: 1px !default;
$map-box-shadow-blur: 3px !default;
$map-box-shadow-spread: 1px !default;
$map-box-shadow-color: rgba($black, .3) !default;
$map-box-shadow: $map-box-shadow-offset-x $map-box-shadow-offset-y $map-box-shadow-blur $map-box-shadow-spread $map-box-shadow-color !default;
$map-box-shadow-width-x: $map-box-shadow-offset-x + $map-box-shadow-blur + $map-box-shadow-spread !default;
$map-box-shadow-width-y: $map-box-shadow-offset-y + $map-box-shadow-blur + $map-box-shadow-spread !default;
$map-box-shadow-width: max($map-box-shadow-width-x, $map-box-shadow-width-y) !default;

$map-top: rhythm-px(.5) !default;
$map-side: 20px !default;

$map-margin-side: $map-side !default;
$map-margin-top: rhythm-px(1) !default;
$map-control-width: 40px !default;
$map-right-width: 400px !default;
$map-right-width-advanced: 625px !default;
$map-right-position: $map-side !default;
$map-left-width: 375px !default;
$map-left-position: $map-side + $map-control-width + $map-side !default;

$map-widget-padding: 10px !default;

$map-search-height: 45px !default;
$font-size-map-search: $font-size-xlarge !default;
$map-search-status-toggle-height: rhythm-px(rhythm-for-height(30px)) !default;
$map-search-filter-element-margin: rhythm-px(.75) !default;
$map-form-range-space: percentage($map-side / ($map-right-width - $map-side * 2)) !default;
$map-suggest-links-focus-states: ':focus', '.is-focus', ':hover', '.is-hover' !default;
$map-options-sort-width: 60% !default;
$map-options-sort-space: percentage($map-widget-padding / $map-right-width) !default;

$map-control-height: 40px !default;
$map-control-searchResultsPanel-height: rhythm-px(1.5) !default;

$map-scrollbar-width: 20px !default;

$map-input-radius: $map-radius !default;

// Map Pins
$pin-text-width: 4em !default;
$font-size-pin: $font-size-xsmall !default;

@if import-once('maps.scss') {

    %map-wrap {
        position: relative;
    }

    %map-widget-position {
        position: absolute;
        z-index: 3;
        padding-top: $map-margin-top;
    }

    %map-widget {
        position: relative;
        z-index: 1;
        border-radius: $map-radius;
        background-color: $white;
        @include box-shadow($map-box-shadow);
        @include degrade-from(boxshadow) {
            border: 1px solid $mediumGrey;
        }
        margin: {
            bottom: $map-top;
        }
    }

    %map-control {
//        @include blank-button;
        display: block;
        width: 100%;
        height: $map-control-height;
        line-height: $map-control-height;
        @include border-radius($map-radius);
        background-color: $white;
        @include squish-button;
        @include pseudo-icon() {
            vertical-align: middle;
        }
        &:hover {
            background-color: $lightGrey;
        }
    }

}

@import 'maps/Pins';
@import 'maps/Infobox';

