// @huidoc mixin
// @name Media Box
// @module structure
//
// @description Mixin for creating media box component. 
//
// @param {string=left}  $position position of media: left, right or both  
// @param {string=details} $details selector of details element   
// @param {list=.media} $media list of media selectors  
// @param  {boolean=true} $extend Extends the default styles instead of inserting the mixin output. Set to false if you are customizing the component. 
// 
// @content Content directive loads inside $media  
//
// @example
// ```scss
// @include media-box($details:'.puppy', $media:'.home')
// ```
//
// @styleguide 2.2.1

// @huidoc sass
// @name Media Box
// @module structure
// @description Usually a thing (media) and its description (details) also a handy fluid column wrapper.
//
// @markup
// <div class="media-box">
// 	<div class="media" title="A thing."><img src="/media/portalimgcache/agent_unavailable.jpg"></div>
// 	<div class="details">I wrote that thing, or it's my picture or something. I OWN that thing. It's mine</div>
// </div>
//
// @styleguide 2.2

$space: 10px !default;

@mixin MediaBox($media: unquote(".media"), $details: unquote(".details"), $position: left, $space: $space, $extend: true) {

    @include clearfix;

    & > #{$details} {
        overflow: hidden;
    }

    // Style the media, Float left or right based on position. If position is 'both' reverse direction every pass.

    $flag: if($position == both, true, false);

    @each $i in $media {
        @if $flag {
            $position: if($position == right, left, right);
        }

        & > #{$i} {
            // display: block;
            float: $position;
            margin-#{if($position == left, right, left)}: $space;
            @content;
        }
    }
}

@mixin media-box($media: unquote(".media"), $details: unquote(".details"), $position: left, $space: $space, $extend: true) {
    @include MediaBox($media, $details, $position, $space, $extend) {
        @content;
    }
}

@if import-once('MediaBox.scss') {
    %media-box {
        @include media-box($extend: false);
    }
}
