//@huidoc module
//@name modals
//@module modals
//@description
//Flyouts, Dialogs, etc.
//
//@styleguide

$modal-backdrop-opacity: 0.8 !default !global;
$modal-backdrop: rgba($black, $modal-backdrop-opacity) !default !global;

//@huidoc mixin
//@name modal-backdrop
//@module modals
//@description
//Covers the screen behind a modal
//
//@param {list=$modal-backdrop-color} $fill Value for background
//@param {boolean=true} $extend extend global placeholder, set to false to boost specificty
//
//@styleguide

@mixin modal-backdrop($fill: $modal-backdrop, $z-index: 1000, $exit-selector: '&.ng-leave', $position: fixed, $extend: true) {
    @if ($extend) {
        @extend %modal-backdrop;
    } @else {
        @include stretch;
        max-width: 100%;
        @if ($position) {
            position: $position;
        }
        background: $fill;
        @include animation--duration-timing-backface();
        @include animation-name('fade-add');
        #{$exit-selector} {
            @include animation--duration-timing-backface();
            @include animation-name('fade-remove');
        }
    }
}

@if import-once('Modals.scss') {
    %modal-backdrop {
        @include modal-backdrop($extend: false);
    }
}
