// Tables
//
// Tables are for tabular data only
//
// Styleguide 3.4

// Wrapped Table
//
// Table with shade wrapper
//
// Markup:
// <div class="wrap-table">
// 	<table>
// 		<thead>
// 			<tr>
// 				<th>Column 1</th>
// 				<th>Column 2</th>
// 				<th>Column 3</th>
// 			</tr>
// 		</thead>
// 		<tbody>
// 			<tr>
// 				<td>Data</td>
// 				<td>Data</td>
// 				<td>Data</td>
// 			</tr>
// 			<tr>
// 				<td>Data</td>
// 				<td>Data</td>
// 				<td>Data</td>
// 			</tr>
// 			<tr>
// 				<td>Data</td>
// 				<td>Data</td>
// 				<td>Data</td>
// 			</tr>
// 		</tbody>
// 	</table>
// </div>
//
// Styleguide 3.4.1

@mixin wrap-table($extend: true) {
    @if $extend {
        @extend %wrap-table;
    } @else {
        position: relative;
        padding: 0 $wrap-shade-padding-side;
        padding-bottom: rhythm(1, $font-size-normal);
        margin: rhythm(1, $font-size-normal) 0;
        &:before {
            content: '';
            position: absolute;
            top: rhythm(1.25, 14px);
            left: 0;
            bottom: 0;
            right: 0;
            z-index: -1;
            background: $lightGrey;
            @include border-radius($global-radius);
        }
        & > table {
            width: 100%;
            th, td {
                padding: 0;
            }
            & > thead th {
                text-align: left;
                padding-bottom: rhythm($lines: 1.25, $font-size: $font-size-normal);
            }
            @content;
        }
    }
}

@if import-once('Tables.scss') {
    %wrap-table {
        @include wrap-table($extend: false);
    }
}
