// @huidocs mixin
// @name Tabs
// @module navigation
//
// @description
// Navigation that looks like filing tabs.
//
//
// @styleguide 3.3

$tab-spacing: 1px;
$tab-min-width: grid-space(10);
$tab-max-width: grid-space(20);
$tab-padding: $global-padding;
$tab-height: rhythm-px(1.5) !default;
$tab-border-width: 1px;
$tab-float: left !default;

$tab-font-size: $font-size-normal !default;

$tab-color: $link-color !default;
$tab-border-color: $border-color !default;
$tab-background: default !default;

$tab-target-class: '.is-target' !default;
$tab-target-color: $body-color !default;
$tab-target-border-color: $orange !default;
$tab-target-background: $white !default;

$tab-active-color: $body-color !default;

@mixin tabs(
    $list: 'ul',
    $list-child: 'li',
    $border-width: $tab-border-width,
        $background: $tab-background,
    $height: $tab-height,
    $direction: left,
    $extend: true) {
    @if $extend {
        @extend %tabs;

    } @else {

        &>#{$list} {
            @include clearfix;
            list-style: none;
            padding: 0;
            &>#{$list-child} {
                float: $direction;
                margin: 0;
            }
        }
    }
}

@mixin tabs-style (
    $style: 'default',
    $color: $tab-color,
    $min-width: $tab-min-width,
    $max-width: $tab-max-width,
    $padding:   $tab-padding,
    $target-class: $tab-target-class,
    $border-color: $tab-border-color,
    $border-style: solid,
    $border-width: $tab-border-width,
    $list: 'ul',
    $list-child: 'li',
    $height: $tab-height,
    $extend: true) {

    @if $extend {
        @extend %tabs-style-#{$style};
    } @else {

        &>#{$list} {
            &>#{$list-child} {

                &>.label {
                    display: block;
                    min-width: $min-width;
                    max-width: $max-width;
                    height: auto;
                    line-height: inherit;
                    font-size: inherit;
                    cursor: pointer;
                    @include ellipsis;
                }
            }
        }

        @if $style == 'default' {
            border-bottom: $border-width solid $border-color;

            &>#{$list} {
                &>#{$list-child} {
                    font-size: $tab-font-size;
                    text-align: center;

                    background: $white;
                    border: {
                        color: $white $white $border-color $white;
                        width: 2px 1px 1px 1px;
                        style: solid;

                    }

                    line-height: $height - 3px;
                    margin: 0 0 -1 * $border-width;

                    &#{$tab-target-class} {
                        color: $body-color;
                        border-color: $orange $border-color $white $border-color;
                        &:hover {
                            border-top-color: $redOrange;
                            color: $body-color;
                        }
                    }
                    &>.label {
                        color: $color;

                        padding: 0 $padding;

                    }
                }
            }
        }
        @if $style == 'form' {
            border: 0;
            &>#{$list} {
                text-align: center;
                &>#{$list-child} {
                    float: none;
                    display: inline-block;
                    background: transparent;
                    color: $color;
                    border: 0;

                    &>input[type="radio"] {
                        @include hide-checkbox();
                    }
                    &>input[type="radio"]:checked+.label {
                        @include button-color;
                        background-color: $darkGrey;
                        &:hover {
                            background-color: $darkGrey;
                        }
                        color: $white;
                        &::before {
                            @include icon-hui('checkmark');
                            @include icon-inline;
                            padding-right: .2em;
                        }
                    }
                    &>.label {
                        @include button;
                        @include button-size('slim');
                        color: inherit;
                        padding: 0;
                        &:hover {
                            color: $link-color-hover;
                        }
                    }
                }

            }
        }
    }
//    .form-tabs.form-tabs--flex > ul > li > input[type=radio]:checked + .label {


}

// @huidocs mixin
// @name Tab Panel
// @module navigation
//
// @description
// Makes a tab panel series.
//
//
// @styleguide 3.3

@mixin tab-panel($extend: true) {
    @if $extend {
        @extend %tab-panel;
    } @else {
        display: none;
        &.is-target {
            display: block;
        }
    }
}

@if import-once('Tabs.scss') {
    %tabs {
        @include tabs($extend: false);
    }
    %tabs-style-default {
        @include tabs-style($extend: false);
    }
    %tabs-style-form {
        @include tabs-style($style:'form', $extend: false);
    }
    %tab-panel {
        @include tab-panel($extend: false);
    }
}
