// Wrap Shade


$wrap-shade-padding-side: $grid-space * 3.5 !global !default;

@mixin wrap-padding($extend:true) {
    @if $extend {
        @extend %wrap-padding;
    } @else {
        padding: rhythm-px() $wrap-shade-padding-side;
    }
}
@mixin wrap-shade($extend:true) {
    @if $extend {
        @extend %wrap-shade;
    } @else {
        @include border-radius($global-radius);
        @include clearfix($extend: true);

        background: $lightGrey;
        @include wrap-padding;
    }
}

// formerly uiWidgetOutsideBorder
@mixin wrap-lightbox() {
    @include box-shadow(0 0 0 1px $mediumGrey, 0 0 5px rgba(#000, .5));
    @include box-shadow(0 0 5px rgba(#000, .5));
    @include border-radius(0);
    border: 0;
}

@if import-once("Wraps.scss") {

    %wrap-padding {
        @include wrap-padding($extend: false);
    }
    %wrap-shade {
        @include wrap-shade($extend: false);
    }
}
