//** Frame Subheader (v3) **/

// Layout
%frame-subheader {
    @include clearfix(true);
    @include framePadding;
    background: $darkGrey;

    color: $white;
    line-height: $frame-subheader-height;
    & > .wrap-content {
        width: $frame-width;
        padding: 0 $grid-space;
    }

    .h1 {
        vertical-align: middle;
    }
    .h1 {
        display: inline-block;
        margin: 0;
        @include adjust-font-size-to(18px);
        overflow: hidden;
    }
    h1, .h1 small {
        color: $white;
        display: inline-block;
    }
    h1 {
        font-size: inherit;
        margin: 0;
        line-height: inherit;
        @include font-weight(700);
    }
    small {
        @include font-weight(400);
        margin-left: 0.3em;
    }
    .header-nav {
        $button-adjust: ($frame-subheader-height - $button-line-height) / 2;
        position: absolute;
        top: $button-adjust;
        // right: 20px;
        right: 0;
        height: $frame-subheader-height - $button-adjust;
        text-align: right;

    }
}
