<article class="page-homepage">
    <div class="homepage--home-search" data-ng-style="pageCtrl.heroBackground">
        <section class="home-search--content">
            <h1 class="home-search-header" data-ng-bind-html="$root.pageMeta.$current.h1"></h1>
            <div data-search-form>
                <listing-search-form-large search-ctrl="$parent.$parent.searchCtrl"></listing-search-form-large>
            </div>
        </section>
    </div>

    <waypoint data-ref="pageCtrl.adjustStickyHeader"></waypoint>

    <div class="homepage--promo">
        <div class="promo--left">
            <div class="promo--container">
                <div class="promo--content">
                    <h2 class="promo--title">Download Our Apps</h2>
                    <p class="promo--description">Get the power of a simple home search in your hands</p>
                    <a class="promo--app-link" href="http://www.homes.com/mobile-apps/">Compare all Homes.com apps ></a>
                    <a class="button button--secondary promo--app-button"
                        href="https://itunes.apple.com/us/app/homes.com-real-estate-search/id306423353?mt=8&uo=4"
                        target="_blank"
                        data-tl-object="app_referral_hdc_portalhomefeatured_ios">
                        <i class="icon-hui icon-hui--apple-store"></i>Apple Store
                    </a>
                    <a class="button button--secondary promo--app-button"
                        href="https://play.google.com/store/apps/details?id=com.homes.homesdotcom"
                        target="_blank"
                        data-tl-object="app_referral_hdc_portalhomefeatured_android">
                        <i class="icon-hui icon-hui--google-play"></i>Google Play
                    </a>
                </div>
            </div>
        </div>
        <div class="promo--right"
            data-ng-if="$root.pageMeta.$current.text_a"
            data-ng-bind-html="pageCtrl.trustedHTML($root.pageMeta.$current.text_a)">
        </div>
    </div>

    <div class="homepage--blog">
        <div class="page-home--content"
            data-ng-if="$root.pageMeta.$current.text_b"
            data-ng-bind-html="pageCtrl.trustedHTML($root.pageMeta.$current.text_b)">
        </div>
    </div>

</article>
