<div class="search-header">
    <div class="search-header--content">

        <div class="search-header--logo">
            <a href="/" title="Homes.com">Homes.com</a>
        </div>

        <div class="search-header--centered">
            <h4 class="find-your-home">Find Your Home</h4>
            <div ng-form name="searchDrawer"
                 class="search-form--wrapper">
                <div data-search-form
                     class="search-drawer--content">
                    <listing-search-form search-ctrl="$parent.$parent.searchCtrl"></listing-search-form>
                </div>
            </div>
        </div>

        <a href="/mobile-apps/" class="go-mobile" data-tl-object="HP-Header-Mobile">
            <i class="icon-hui icon-hui--mobile-1"></i>Go Mobile
        </a>

    </div>
</div>
