.alternate-match-select-wrap {
    padding: 0 grid-space();
    margin-bottom: 0;
    bottom: rhythm-px(.5);
    width: 100%;
    @include transition(all .5s);
    @include animation--duration-timing-backface($duration: $default-animation-duration);
    @include animation-name('fade-in-down-add');

    &.ng-enter.ng-enter-active {
        @include animation--duration-timing-backface($duration: $default-animation-duration);
        @include animation-name('fade-in-down-add');
    }
    &.ng-leave.ng-leave-active {
        position: absolute;
        @include animation--duration-timing-backface($duration: $default-animation-duration);
        @include animation-name('fade-out-down-add');
    }

    & > select {
        position: relative;
        padding-right: 0;
        z-index: 3;
    }
}

.alternate-matches--header {
    color: $orange;
    font-weight: 400;
    font-size: $font-size-large;
}