//@name Cell
//
//@description
//Image centric display
//

.listing-results--cell {
    @include clearfix();
    background-color: $lightestGrey;
    @include border-radius($global-radius);
    margin-bottom: rhythm-px(.75);
    &:hover {
        background-color: $lightBlue;
        .button--secondary {
            background-color: $orange;
        }
        .cell--property {
            .cell-row-secondary-details {
                .listing-results-cta-cell {
                    .cta-video-cell,
                    .cta-infocheck-cell,
                    .cta-save-cell {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .cell--property {
        .cell-row-details {
            @include clearfix();
            .cell-image-container {
                float: left;
                .cell-primary-image {
                    width: grid-space(22);
                    height: rhythm-px(7.25);
                    position: relative;
                    background-size: cover;
                    .listing-image-link {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }
                .cell-image-photocount {
                    width: grid-space(6);
                    height: rhythm-px(1.4);
                    position: absolute;
                    bottom: rhythm-px(.4);
                    left: grid-space(.5);
                    background-color: $darkGrey;
                    color: $white;
                    opacity: .9;
                    padding-top: rhythm-px(.2);
                    font-size: $font-size-medium + 2;
                    font-weight: 100;
                    text-align: center;
                    &:before {
                        padding-right: rhythm-px(.2);
                        vertical-align: bottom;
                        @include icon-hui('photos');
                    }
                }
            }
            .cell-row-details--top {
                display: flex;
                .cell-title-address-container {
                    flex-basis: grid-space(46);
                    min-width: grid-space(22);
                    margin: rhythm-px() grid-space(2) 0;
                    line-height: $font-size-xlarge;
                    .cell-street-address-container {
                        color: $blue;
                        font-size: $font-size-xlarge - 2;
                    }
                    .cell-city-st-pincode-container {
                        color: $mediumDarkGrey;
                        font-size: $font-size-small;
                        &:before {
                            @include icon-hui('mappin');
                            color: $darkGrey;
                        }
                        .listing-type-block {
                            color: $blue;
                            text-transform: uppercase;
                            &:before {
                                @include icon-hui('house');
                            }
                            &.foreclosure-type {
                                color: $red;
                            }
                        }
                    }
                }
                .property-price-display {
                    flex-basis: grid-space(22);
                    margin: rhythm-px() grid-space(2) 0 0;
                    .button {
                        width: grid-space(22);
                        font-size: $font-size-xlarge - 2;
                        font-weight: 300;
                        height: rhythm-px(2.25);
                        line-height: rhythm-px(2.25);
                        width: 100%;
                    }
                    .price-currency {
                        font-size: .8em;
                        vertical-align: super;
                        line-height: 0;
                    }
                    .price-details {
                        width: grid-space(22);
                        @include clearfix();
                        .price-estimate {
                            color: $blue;
                            font-size: $font-size-small;
                            font-weight: 400;
                            line-height: rhythm-px();
                        }
                        .price-indicator {
                            float: right;
                            color: $red;
                            font-size: $font-size-xsmall;
                            line-height: rhythm-px();
                        }
                    }
                    .cell-floor-plans,
                    .price-details-floorplans {
                        color: $blue;
                        font-size: $font-size-small;
                        font-weight: 400;
                        line-height: rhythm-px();
                        text-align: center;
                    }
                }
                @media screen and (max-width: 1024px) {
                    .cell-title-address-container {
                        flex-basis: grid-space(27.3);
                    }
                    .property-price-display {
                        flex-basis: grid-space(15);
                        .button {
                            width: grid-space(15);
                            font-size: $font-size-medium;
                        }
                        .price-details {
                            width: grid-space(15);
                            .price-estimate {
                                display: block;
                                text-align: center;
                            }
                            .price-indicator {
                                display: block;
                                float: none;
                                text-align: center;
                            }
                        }
                    }
                }
            }
            .cell-row-details--bottom {
                .property-description {
                    @include clearfix();
                    margin: rhythm-px() grid-space(2) 0 grid-space(24);
                    @media screen and (max-width: 1024px) {
                        clear: left;
                        margin: 0;
                        padding: rhythm-px() grid-space(2) 0;
                    }
                    .cell-property-type {
                        color: $mediumDarkGrey;
                    }
                    .cell-property-features {
                        color: $darkGrey;
                        .ranked-features {
                            .cell-property-list {
                                .cell-property--details {
                                    &:after {
                                        content: '\00b7';
                                        font-size: $font-size-normal;
                                        margin: 0 grid-space(.25);
                                    }
                                    &:last-child::after {
                                        content: none;
                                    }
                                }
                            }
                        }
                    }
                    .property-agent-listing {
                        float: right;
                        display: flex;
                        .property-agent-logo {
                            min-width: grid-space(4);
                            max-width: grid-space(10);
                            max-height: rhythm-px(2);
                            overflow: hidden;
                        }
                        .property-agent-text {
                            max-width: grid-space(10);
                            max-height: rhythm-px(2);
                            margin-left: grid-space(.5);
                            font-size: $font-size-small;
                            line-height: $font-size-medium;
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }
        }
        .cell-row-secondary-details {
            @include clearfix();
            .cell-beds-baths {
                float: left;
                .prop-details {
                    margin-left: grid-space(2);
                    font-size: $font-size-medium;
                    line-height: rhythm-px(3);
                }
                .tooltip-button {
                    background-color: inherit;
                }
            }
            .listing-results-cta-cell {
                width: grid-space(18);
                float: right;
                display: flex;
                .cta-video-cell--link {
                    margin-left: auto;
                }
                .cta-video-cell,
                .cta-infocheck-cell,
                .cta-save-cell {
                    width: grid-space(6);
                    height: rhythm-px(3);
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    display: inline-block;
                    color: $mediumDarkGrey;
                    font-size: $font-size-xlarge;
                    opacity: .5;
                    outline: none;
                    padding: 0;
                    &:hover {
                        color: $blue;
                        opacity: 1;
                    }
                }
                .cta-video-cell {
                    &.visited {
                        color: $blue;
                        opacity: 1;
                    }
                    &:before {
                        @include icon-hui('play');
                    }
                }
                .cta-infocheck-cell {
                    &.visited {
                        color: $blue;
                        opacity: 1;
                    }
                    &:before {
                        @include icon-hui('email');
                    }
                }
                .cta-save-cell {
                    &.saved {
                        color: $orange;
                        opacity: 1;
                        &:before {
                            @include icon-hui('heart-full');
                        }
                    }
                    &:before {
                        @include icon-hui('heart-empty');
                    }
                }
            }
        }
    }
}

.right-ads--cell {
    color: $blue;
    font-weight: 700;
    text-align: center;

    .right-ads--cell-block-image {
        height: rhythm-px(12.5);
        margin-top: rhythm-px(4);
    }
    .right-ads--cell-block-local {
        height: rhythm-px(18.5);
        margin-top: rhythm-px();
    }
    .right-ads--cell-block-bottom1 {
        height: rhythm-px(12.5);
        margin-top: rhythm-px();
    }
    .right-ads--cell-block-bottom2 {
        height: rhythm-px(12.5);
        margin-top: rhythm-px();
    }
    .right-ads--cell-block-foreclosure {
        height: rhythm-px(12.5);
        margin-top: rhythm-px();
    }
    .right-ads--cell-block-localinfo {
        height: rhythm-px(13.5);
        margin-top: rhythm-px();
    }
    .right-ads--cell-block-question {
        height: rhythm-px(22);
        margin-top: rhythm-px();
    }
    .right-ads--cell-block-contactlocal {
        height: rhythm-px(23.8);
        margin-top: rhythm-px();
    }
}

.pagination-container {
    width: grid-space(93);
    margin-top: rhythm-px();
    margin-left: grid-space(1.5);
    .pagination-main-block {
        border-style: solid;
        padding-top: rhythm-px(0.55);
        padding-bottom: rhythm-px(0.55);
        border: grid-space(0.1) solid;
        border-color: $mediumLightGrey;
    }
    .total-results {
        margin-top: rhythm-px(0.25);
        margin-bottom: rhythm-px(4.35);
        color: $mediumDarkGrey;
    }
    .common-active-block {
        background: $orange;
        border-radius: $global-radius;

        &:hover {
            background: $blue;
        }
        &[disabled="disabled"] {
            opacity: .2;
            background: $orange;
        }
        .pagination-left-end {
            &::before {
                font-size: $font-size-normal;
                @include icon-hui('chevron-left');
                color: $white;
                font-weight: 700;
            }
        }
        .pagination-right-end {
            &::before {
                font-size: $font-size-normal;
                @include icon-hui('chevron-right');
                color: $white;
                font-weight: 700;
            }
        }
        .pagination-double-left-end {
            &::before {
                font-size: $font-size-normal;
                @include icon-hui('doublechev-left');
                color: $white;
                font-weight: 700;
            }
        }
        .pagination-double-right-end {
            &::before {
                font-size: $font-size-normal;
                @include icon-hui('doublechev-right');
                color: $white;
                font-weight: 700;
            }
        }
    }
    .pagination-list {
        margin-left: grid-space(1.2);
        margin-right: grid-space(1.2);
        .pagination-number-cell {
            display: inline-table;
            color: $blue;
            font-weight: 700;
            width: grid-space(4);
            padding: rhythm-px(0.25) 0;
            margin-left: grid-space(0.6);
            cursor: pointer;
            text-align: center;
            border: grid-space(0.1) solid;
            border-color: $mediumLightGrey;
            &.current-page {
                border-color: $orange;
                color: $darkGrey;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }

    @media only screen and (max-width: 1000px) {
        width: grid-space(65.5);
        .pagination-list {
            .pagination-number-cell {
                width: grid-space(2.4);
                padding: rhythm-px(0.3) grid-space(0.3);
                margin-left: grid-space(0.3);
            }
        }
    }
}

.global-nav-footer {
    margin-top: 0;
}

.footer-container {
    height: rhythm-px(11.5);
    background-color: $lightBlue;
    width: 100%;
    margin: rhythm-px() 0;
    @include clearfix;
    .cities-block,
    .footer-zipcodes,
    .footer-neighborhoods {
        position: relative;
        padding: 0 grid-space(1.5);
        float: left;
        color: $blue;
        font-weight: 600;
        cursor: pointer;
        width: 32.33333333%;
        font-size: $font-size-small;
        .label-heading {
            font-size: $font-size-medium;
            margin-top: rhythm-px(2.5);
            color: $orange;
            font-weight: 600;
        }
    }
    .links-block {
        margin-top: rhythm-px(-0.75);
        .footer-bar-labels {
            &:after {
                content: '\00b7';
                color: $darkGrey;
            }
            &:last-of-type:after {
                content: '';
            }
        }
    }
    .show-button {
        height: rhythm-px(1.25);
        border-style: solid;
        border-color: $blue;
        outline: 0;
        width: grid-space(7);
        cursor: pointer;
        margin-top: rhythm-px(0.75);
        color: $blue;
        font-size: $font-size-xsmall + 1;
        border-radius: $global-radius + 5;
        background-color: $lightBlue;
    }
}
