.features-amenities {
    @include module-spacing-vertical();
    
    .features-amenities--description {
        padding: 0 grid-space(1.5);
        margin-bottom: rhythm-px(.75);
        color: $darkGrey;
        
        .features-amenities--description-text {
            &:first-line {
                font-weight: 700;
            }
            line-height: rhythm-px();
        }

        .features-amenities--description-button {
            margin: rhythm-px(.5) 0;

            .button {
                min-width: grid-space(12);
            }

            .icon-hui {
                float: left;
                margin-right: grid-space(.5);
            }
        }
    }

    .special-features {
        margin-bottom: rhythm-px(.75);

        .special-features--container {
            @include border-radius($border-radius);
            @include column-count(2);
            padding: rhythm-px() grid-space(4);
            background-color: $lightGrey;
            color: $darkGrey;

            .special-features--item {
                font-weight: 400;
                padding: rhythm-px(.1) grid-space(.5) 0;
            }
        }
    }

    .additional-features {

        .additional-features--body {
            @include border-radius($border-radius);
            @include module-spacing-all-sides();
            background-color: $lightGrey;
            color: $darkGrey;
            font-size: $font-size-normal;

            .additional-features--features {
                @include clearfix();

                .additional-features--column {
                    float: left;
                    width: 50%;
                    margin-bottom: rhythm-px(-1.25);

                    .additional-features--feature {
                        margin: 0 0 rhythm-px(1.25) grid-space(3);

                        .additional-features--label {
                            font-weight: 700;
                        }

                        .additional-features--value {
                            font-weight: 400;

                            &.has-eco {
                                &::before {
                                    color: $green;
                                    @include icon-inline($side: left);
                                    @include icon-hui($icon-name: 'leaf', $extend: false);
                                    margin-left: grid-space(-3);
                                }
                            }
                            .additional-features--value-item {
                                padding: 0;
                                margin : 0;
                                padding-bottom: grid-space();
                                &.has-eco {
                                    &::before {
                                        color: $green;
                                        @include icon-inline($side: left);
                                        @include icon-hui($icon-name: 'leaf', $extend: false);
                                    }
                                }
                            }
                        }
                    }

                    &:last-of-type:after {
                        @include clearfix();
                    }
                }
            }
        }

        .additional-features--footer-eco {
            font-size: $font-size-small;
            color: $mediumGrey;
            font-weight: 500;
            text-align: left;
            text-transform: uppercase;
            margin-top: rhythm-px(1.25);

            &::before {
                color: $green;
                @include icon-inline($side: left);
                @include icon-hui($icon-name: 'leaf', $extend: false);
            }
        }
    }

    .features-amenities--view-source {
        @include module-spacing-all-sides();

        .icon-hui {
            @include adjust-font-size-to($to-size: $font-size-xsmall, $from-size: $font-size-normal);
        }
    }
}
