//@name Gallery
//@description
//Display a gallery of search results, images, or other media
//


.gallery {
    @include clearfix;


    &.gallery--scroll {
        width: 102%;
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
    }
}

.gallery-list {
    &>li {
        float:left;
    }
}
.gallery--scroll {
    &>.gallery-list {
        width: auto;
        margin: 0;
        &>li {
            float: none;
            display:inline-block;
            margin:0;
        }
    }
}