// begin styling for touch swipe image gallery
.image-gallery {

    .image-gallery--holder {
        height: 100%;
        position: relative;
    }
    .image-gallery--slide {
        height: 100%;
        float: left;

        position: relative;
        overflow: hidden;

    }
    .is-animate {
        @include transition-duration(.4s);
        @include transition-timing-function(ease-out);
    }

    &[data-name="full-page-gallery"] .pin-it-button {
        @include background-image(url('/images/default/pinit-white.png'));
        height: image-height('default/pinit-white.png');
        width: image-width('default/pinit-white.png');
        margin: rhythm-px(.5) 0 0 grid-space();
        padding: 0;
        top: 50%;
        left: 50%;
        position: absolute;
    }
}

.gallery-slide-image {
    height: 100%;
    width: 100%;
    img {
        max-width: initial; // this is a bug from hui-components-style -AH
    }
}
.ngdialog.full-screen-gallery {

    .ngdialog-content {
        max-height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        @include transform(translate(0,0));

        .modal-image-gallery {

            .grey-separator-bar {
                background: rgba($darkGrey, .9);

                .frame-content {
                    width: 100%;
                    padding-left: grid-space(1.5);
                    padding-right: grid-space(5);

                    .property-cost {
                        display: inline;
                    }

                    .property-header {
                        top: 0;
                    }

                    form[name="searchForm"] {
                        display: none;
                    }

                    .grey-separator-bar--email,
                    .grey-separator-bar--save {
                        top: 0;
                    }
                }
            }

            .form-gallery-container {
                background: $darkGrey;

                .form-left,
                .gallery-container {
                    display: inline-block;
                    vertical-align: top;
                }

                .toggle-check-label {
                    position: absolute;
                    top: rhythm-px(2);
                    z-index: 1;
                    background: $lightGrey;
                    line-height: rhythm-px(2);
                    height: rhythm-px(2);
                    @include border-top-right-radius($border-radius);
                    @include border-bottom-right-radius($border-radius);
                    color: $blue;
                    padding-right: grid-space(0.4);

                    &::before {
                        font-size: $font-size-xsmall;
                        top: rhythm-px(-0.35);
                        position: relative;
                    }
                    &::after {
                        font-size: $font-size-xlarge;
                    }
                }

                .toggle-check {
                    visibility: hidden;
                    position: absolute;
                }

                .toggle-check:checked + label {
                    left: 0;
                    &::before {
                        content: '';
                    }
                    &::after {
                        @include icon-hui('chevron-right');
                    }
                }

                .toggle-check + label {
                    left: 22.3%;
                    &::before {
                        content: 'HIDE';
                    }
                    &::after {
                        @include icon-hui('chevron-left');
                    }
                }

                .toggle-check:checked ~ .form-left {
                    width: 0%;
                    opacity: 0;
                    margin-right: 10%;
                }

                .form-left {
                    text-align: left;
                    background: $lightGrey;
                    position: relative;
                    width: 24%;
                    padding: 0 grid-space(1.5);
                    opacity: 1;
                    margin-right: 0%;
                    max-height: 100%;
                    overflow: auto;
                    @include transition(all 200ms ease-in-out);

                    .action-module--heading {
                        font-weight: 500;
                        border: none;
                        padding: rhythm-px(0.5) 0; 
                        font-size: $font-size-large + 2;
                    }

                    .offered-by {
                        display: none;
                    }

                    .lead-form-container {

                        .listing-lead-form {
                            width: 100%;
                            float: none;
                            padding: 0;
                            max-width: 100%;
                        }

                        .lead-form--submit {
                            margin-bottom: rhythm-px(2);

                            .button {
                                height: rhythm-px(2);
                                line-height: rhythm-px(2);
                                margin: rhythm-px(0.75) 0;
                            }
                        }
                    }

                    .lead-form-container,.lead-form {
                        padding: 0;
                    }

                    .lead-form.request-information {
                        min-width: 0%;
                    }
                }

                .gallery-container {
                    width: 76%;
                    margin-left: grid-space(-0.4);

                    .image-gallery.image-gallery-slider {

                        .pin-it-button,
                        .expand-gallery {
                            display: none;
                        }

                        .image-gallery-navigation {
                            top: 45%;
                        }

                        .gallery-thumbnail-slider {
                            bottom: rhythm-px(2.1);
                        }
                    }
                }
            }
        }

        .modal-image-gallery + .ngdialog-close {
            background: none;
            border: none;
            box-shadow: none;
            &::before {
                position: relative;
                top: rhythm-px();
                right: grid-space(1.5);
                font-weight: 700;
                color: $white;
            }
        }

        .modal-image-gallery,
        .form-gallery-container,
        .gallery-container,
        .form-left,
        img {
            height: 100%;
        }
    }
}

.ngdialog-open {
    .ngdialog {
        z-index: 10001;
    }
}

.image-gallery.image-gallery-slider {
    height: 100%;
    overflow: hidden;
    position: relative;

    .pin-it-button {
        @include background-image(url('/images/default/pinit-white.png'));
        height: image-height('default/pinit-white.png');
        width: image-width('default/pinit-white.png');
        bottom: rhythm-px(4.2);
        right: grid-space(1.5);
        position: absolute;
        display: none;
    }

    .image-gallery--wrapper {
        height: 100%;

        .image-gallery-navigation {
            position: absolute;
            top: 30%;
            background-color: $black;
            z-index: 22;
            line-height: rhythm-px(2.5);
            font-size: $font-size-2xlarge + 4;
            color: $white;
            padding: rhythm-px(.2) grid-space() 0;
            opacity: 0;
            display: none;

            &.next {
                right: 0;
            }

            &.prev {
                left: 0;
            }
        }
    }

    .expand-gallery {
        position: absolute;
        top: rhythm-px(0.5);
        right: grid-space();
        z-index: 11;
        width: grid-space(3.5);
        height: rhythm-px(1.75);
        @include border-radius($border-radius - 3);
        background: $desatDarkBlue;
        text-align: center;
        color: $white;
        line-height: rhythm-px(1.75);
        cursor: pointer;
        opacity: 0;
        display: none;
        &::before {
            @include icon-hui('expand');
            font-size: $font-size-large;
        }
    }
    &:hover {

        .image-gallery-navigation {
            opacity: 0.6;
            display: inline;
            &:hover {
                opacity: 0.9;
            }
        }

        .pin-it-button {
            display: inline;
        }

        .expand-gallery {
            opacity: 0.65;
            display: block;
        }
    }

    .image-gallery--counter {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 11;
        background-color: $lightGrey;
        line-height: rhythm-px(1.5);
        @include clearfix();

        .photo-counter--image-count { 
            padding: 0 grid-space(1.5);
            float: left;
            color: $mediumDarkGrey;

            .photo-counter--current-image {
                &::after { 
                    content: '/';
                    position: relative;
                    left: grid-space(0.2);
                }
            }
        }

        .photo-counter--current-category {
            float: left;
            background-color: $mediumBlue;
            padding: 0 grid-space();
            color: $white;
        }
    }

    .gallery-thumbnail-slider {
        height: rhythm-px(2.5);
        background-color: rgba($black, 0.6);
        position: absolute;
        width: 100%;
        bottom: 0;
        padding: rhythm-px(0.25) 0;

        .galery-thumbnail-viewport {
            height: 100%;
            margin-left: auto;
            background-color: transparent;
            margin-right: auto;
            overflow: hidden;

            .thumb-holder {
                overflow: hidden;
                height: 100%;

                .thumbnail-slider-image {
                    height: 100%;
                    width: grid-space(6);
                    float: left; 
                    margin-left: grid-space(0.5);
                    cursor: pointer;

                    &.active {
                        border: 1px solid $lightGrey;
                    }

                    .img {
                        max-width:100%;
                        max-height:100%;
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .gallery-thumbnail-slider {
                height: rhythm-px(2.5);
                background-color: $black;
                opacity: 0.6;
                position: absolute;
                width: 100%;
                bottom: 0;
                padding: rhythm-px(0.25) 0;

                .galery-thumbnail-viewport {
                    height: 100%;
                    margin-left: auto;
                    background-color: transparent;
                    margin-right: auto;
                    overflow: hidden;

                    .thumb-holder {
                        overflow: hidden;
                        height: 100%;

                        .thumbnail-slider-image {
                            height: 100%;
                            width: grid-space(6);
                            float: left; 
                            margin-left: grid-space(0.5);
                            cursor: pointer;

                            &.active {
                                border: 1px solid $lightGrey;
                            }

                            .img {
                                max-width:100%;
                                max-height:100%;
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }

                .thumbnail-slider-navigation {
                    position: absolute;
                    top: rhythm-px(0.75);
                    color: $white;
                    font-size: $font-size-xlarge + 1;
                    opacity: 0.8;
                    @include transition-property(all);
                    @include transition-duration(0.1s);
                    &.prev {
                        left: grid-space(-2.5);
                    }
                    &.next {
                        right: grid-space(-2.5);
                    }

                    &:hover {
                        color: $white;
                        opacity: 1;
                    }
                }

                &:hover {

                    .thumbnail-slider-navigation.next {
                        right: grid-space(1.5);
                    }

                    .thumbnail-slider-navigation.prev {
                        left: grid-space(1.5);
                    }
                }
            }
        }

        .thumbnail-slider-navigation {
            position: absolute;
            top: rhythm-px(0.75);
            color: $white;
            font-size: $font-size-xlarge + 1;
            opacity: 0.8;
            @include transition-property(all);
            @include transition-duration(0.1s);

            &.prev {
                left: grid-space(-2.5);
            }

            &.next {
                right: grid-space(-2.5);
            }

            &:hover {
                color: $white;
                opacity: 1;
            }
        }

        &:hover {

            .thumbnail-slider-navigation.next {
                right: grid-space(1.5);
            }

            .thumbnail-slider-navigation.prev {
                left: grid-space(1.5);
            }
        }
    }
}

.listing-details-page--content .m .media-gallery-content {
    .media-photo-gallery {
        height: 100%;
    }
}
