.inactive-listing .ngdialog-content {
    & .short-message {
        margin-bottom: 0;
        padding: rhythm-px() grid-space(2);

        & .title {
            & .title--content {
                color: $darkGrey;
                font-size: $font-size-2xlarge;
                &:before {
                    @include icon-hui('exclamation-empty');
                    position: relative;
                    padding-bottom: rhythm-px(2);
                    display: block;
                    font-size: 200%;
                    color: $blue;
                }
            }
        }

        & .message {
            border: none;
            margin-top: rhythm-px(.65);
            & .message--content {
                color: $darkGrey;
                overflow: auto;
            }
        }
    }
}
