.lead-form {
    .lead-form--form {
        padding: 0;
    }
    .lead-form--basic-fields {
        font-weight: 300;
        @include experimental(font-smoothing, antialiased);
    }
    .lead-form-container {
        @include border-radius($border-radius);
        padding: rhythm-px() grid-space(2);
        .lead-form-input {
            font-weight: 300;
            @include experimental(font-smoothing, antialiased);
        }
        .textarea-field {
            font-size: $font-size-normal;
        }
        .lead-form--opt-in {
            margin: rhythm-px(.5) 0 rhythm-px(1.5);
        }
        .lead-form--submit {
            margin: rhythm-px() 0 0;
            .button {
                font-weight: 300;
                padding: 0 grid-space(3);
                height: rhythm-px(2);
                line-height: rhythm-px(2);
                font-size: $font-size-medium;
            }
        }
        &.action {
            background-color: $lightGrey;
        }
    }
    .float-label input {
        font-weight: 300;
    }
    .offered-by {
        @include border-radius($border-radius);
        background-color: $lightGrey;
        padding: 0 grid-space(2);
        margin-top: rhythm-px();
    }
    .offered-by--links {
        display: none;
        visibility: hidden;
    }
    // Styles specifically for the Request Information Module & Lightbox
    &.request-information {
        @include module-spacing-vertical();
        padding: 0;
        // Add external icon
        .external:before {
            @include icon-hui($icon-name: 'externallink', $extend: false);
            font-size: $font-size-xlarge;
            margin: 0 grid-space() 0 grid-space(-2.6);
            color: $darkGrey;
            display: inline-block;
            position: absolute;
        }
        .request-information--subtext {
            @include module-spacing-all-sides(10px, $extend: false);
            margin: 0;
        }
        .lead-form-container {
            @include module-spacing-horizontal();
            &.isLocalConnect {
                background-color: $lightGrey;
                padding-right: 0;
                .lead-form--form {
                    margin-top: 0;
                    .listing-lead-form:not(:only-child) {
                        padding-top: 0;
                        padding-bottom: 0;
                    }
                }
            }
            .listing-lead-form:only-child {
                position: relative;
                width: 100%;
                .float-label,
                .form-message,
                .lead-form--opt-in,
                .lead-form--submit {
                    width: 48%;
                }
                .float-label,
                .form-message {
                    float: left;
                    clear: left;
                }
                .form-message {
                    width: 45%;
                }
                .form-input-textarea {
                    @include clearfix(both);
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 48%;
                }
                .lead-form--submit,
                .lead-form--opt-in {
                    float: right;
                    clear: right;
                    margin: rhythm-px(.75) 0 0;
                }
            }
            .local-connect-offered-by,
            .listing-lead-form {
                display: table;
                float: left;
            }
            .listing-lead-form:not(:only-child) {
                @include border-radius($border-radius);
                padding: rhythm-px(.75) grid-space(3);
                background-color: $lightGrey;
                width: 50%;
                max-width: 50%;
            }
            .listing-lead-form:only-child {
                width: 100%;
                max-width: 100%;
            }
            .local-connect-offered-by:not(:only-child) {
                width: 50%;
                max-width: 50%;
            }
            .local-connect-offered-by {
                .local-connect,
                .offered-by {
                    margin: 0 grid-space(.5) 0;
                }
                // Local Connect
                .local-connect--content {
                    margin-bottom: rhythm-px(.5);
                    @include clearfix();
                    .local-connect--image-container {
                        width: grid-space(4.8);
                        height: rhythm-px(2.4);
                        margin: 0 grid-space() 0 grid-space(.5);
                        float: left;
                    }
                }
                // Offered by
                .offered-by {
                    background-color: transparent;
                    padding: 0;
                    .offered-by--provider {
                        .offered-by--content {
                            padding-top: 0;
                            .offered-by--image {
                                .offered-by--logo {
                                    text-align: center;
                                    max-width: grid-space(9.5);
                                    max-height: rhythm-px(4.75);
                                    overflow: hidden;
                                }
                            }
                            .offered-by--provider-info {
                                font-weight: 300;
                                .offered-by--name {
                                    @include adjust-font-size-to($from-size: $font-size-normal, $to-size: $font-size-xlarge);
                                    line-height: 1.2;
                                    width: grid-space(20);
                                    a {
                                        font-weight: 300;
                                        white-space: normal;
                                    }
                                }
                                .offered-by--phone-number {
                                    @include adjust-font-size-to($from-size: $font-size-normal, $to-size: $font-size-large);
                                    color: $mediumGrey;
                                }
                                .offered-by--sales-website {
                                    margin: 0 0 rhythm-px(1.5) grid-space(2);
                                }
                            }
                            .offered-by--links {
                                display: inline-block;
                                visibility: visible;
                                padding-left: grid-space(0.4);
                                margin-top: rhythm-px(0.65);
                                .endorse-me:before {
                                    @include icon-hui('thumb-up');
                                }
                                .view-listings:before {
                                    @include icon-hui('notes');
                                }
                                .external:before {
                                    @include icon-hui('externallink');
                                }
                                .endorse-me:before,
                                .view-listings:before,
                                .external:before {
                                    position: relative;
                                    top: rhythm-px(0.1);
                                    right: grid-space(0.4);
                                    margin: 0;
                                    font-size: $font-size-large;
                                }
                                a {
                                    font-weight: 400;
                                    position: relative;
                                    color: $blue;
                                }
                            }
                        }
                        .offered-by--builder-sales {
                            padding-bottom: rhythm-px(0.5);
                        }
                        .offered-by--builder-links {
                            margin-top: 0;
                            .community_website_url,
                            .builder_website_url {
                                @include adjust-font-size-to($from-size: $font-size-medium, $to-size: $font-size-normal);
                                float: none;
                                padding: rhythm-px(.1) grid-space(.5) rhythm-px(.1) grid-space(2.4);
                                position: relative;
                                display: inline-block;
                                &::after {
                                    content: '';
                                }
                            }
                        }
                        .offered-by--builder-sales {
                            .offered-by--sales-office {
                                font-size: $font-size-large;
                                color: $darkGrey;
                                font-weight: 300;
                                margin-top: rhythm-px();
                            }
                        }
                    }
                }
            }
        }
        // Lightbox Specific Styles
        .ngdialog-content & {
            @include module-spacing-all-sides();
            min-width: grid-space(37);
            .lead-form-container {
                min-width: grid-space(35);
                &.isLocalConnect {
                    background-color: transparent;
                    width: grid-space(70);
                    .local-connect--provider {
                        background: none;
                        .local-connect--content.is-selected {
                            background: none;
                        }
                    }
                }
                & {
                    .offered-by--builder-sales,
                    .offered-by--builder-links,
                    .endorse-me,
                    .view-listings,
                    .external {
                        display: none;
                    }
                }
                .local-connect-offered-by,
                .listing-lead-form {
                    width: grid-space(30.9);
                    float: left;
                    .offered-by {
                        float: initial;
                        width: 100%;
                        .offered-by--provider {
                            margin-bottom: 0;
                            margin-top: rhythm-px(.6);
                            .offered-by--content {
                                .offered-by--provider-info {
                                    font-weight: 600;
                                    margin-left: grid-space(0.2);
                                    .offered-by--name {
                                        font-size: $font-size-normal;
                                    }
                                }
                                .offered-by--logo {
                                    width: grid-space(4.8);
                                    height: rhythm-px(2.4);
                                }
                                .offered-by--company-name {
                                    font-size: $font-size-normal;
                                }
                            }
                        }
                    }
                }
                .lead-form--form {
                    margin-top: rhythm-px(-.5);
                    .float-label,
                    .lead-form--opt-in,
                    .lead-form--submit {
                        width: 100%;
                        float: initial;
                    }
                    .form-input-textarea {
                        position: relative;
                        width: 100%;
                    }
                }
                .listing-lead-form:only-child {
                    width: 100%;
                    .float-label {
                        clear: both;
                        display: block;
                        width: 100%;
                    }
                    .float-label:last-of-type {
                        margin-bottom: rhythm-px(0.6);
                    }
                    .form-input-textarea {
                        position: initial;
                        width: 100%;
                    }
                    .lead-form--opt-in,
                    .lead-form--submit {
                        clear: both;
                        width: 100%;
                    }
                }
                .listing-lead-form:not(:only-child) {
                    background-color: transparent;
                    padding: 0 grid-space(1.5);
                }
            }
        }
    }
}
