.line-graph-container {
    position: relative;
    .line-graph {
        min-width: grid-space(32);
        max-width: grid-space(64);
        height: auto;
        display: block;

        g.legend {
            fill: none;
            font-size: $font-size-medium;
            font-weight: bold;
            text-anchor: right;
            width: grid-space(8);
            rect.legend-box {
                fill: none;
            }
            g.legend-items {
                fill: none;
                text {
                    fill: $mediumGrey;
                }

            }
        }

        circle.vertex {
            cursor: pointer;
        }
        circle.vertex:hover,
        circle.selected-vertex {
            stroke: $white;
            stroke-width: grid-space(.2);
        }
        .hover-line {
            stroke-dasharray: 3,3;
        }
        .tooltip-container {
            background: transparent;
            color: $darkGrey;
            pointer-events: none;
            position: absolute;
            width: grid-space(.1);
            height: rhythm-px(.05);
            transform: translateZ(0);
        }

        .tooltip-container .tooltip {
            @include border-radius($border-radius);
            background: $darkGrey;
            bottom: calc(100% + 5px);
            color: $white;
            display: block;
            margin-bottom: rhythm-px(0.75);
            opacity: 0;
            padding: rhythm-px(0.5);
            pointer-events: none;
            position: absolute;
            transform: translate(-50%, grid-space(1));
            text-align: center;
            @include box-shadow(rhythm-px(.1) grid-space(.2) rhythm-px(.5) rgba(0, 0, 0, 0.28));
            .tooltip-date,
            .tooltip-value {
                font-weight: bold;
            }
            .tooltip-key {
                font-size: $font-size-small;
            }
        }
        .tooltip-container .tooltip:before {
            bottom: rhythm-px(-1);
            content: ' ';
            display: block;
            height: rhythm-px();
            left: 0;
            position: absolute;
            width: 100%;
        }
        .tooltip-container .tooltip:after {
            border-left: grid-space() solid transparent;
            border-right: grid-space() solid transparent;
            border-top: 10px solid $darkGrey;
            bottom: rhythm-px(-0.5);
            content: ' ';
            height: 0;
            left: 50%;
            margin-left: grid-space(-1.3);
            position: absolute;
            width: 0;
        }

        .tooltip-container.tooltip-cntnr-hover .tooltip {
            opacity: 1;
            pointer-events: auto;
            transform: translate(-52%, 0);
        }

        path {
            stroke-width: 3;
            fill: none;
        }

        .axisY line {
            fill: none;
            stroke: $lightGrey;
            stroke-width: 1;
        }
        .axisX text,
        .axisY text {
            fill: $mediumGrey;
            font-size: $font-size-small;
        }

    }
}
