.homepage--local-pros {
    border: 1px solid $mediumBlue; // Required to fix a strange white gap issue between modules

    .local-pros {
        padding: rhythm-px() 0;
        max-width: grid-space(110);
        margin: 0 auto;

        .local-pros--title {
            color: $white;
            text-align: center;
            @include adjust-font-size-to($to-size: $font-size-gigantor, $from-size: $font-size-normal);
            font-weight: 600;
            letter-spacing: -0.05em;

            &.sub {
                @include adjust-font-size-to($to-size: $font-size-large, $from-size: $font-size-normal);
                line-height: $font-size-xlarge;
                width: grid-space(53);
                margin: 0 auto;
                letter-spacing: normal;
            }
        }

        .local-pros--tags-agents {
            @include media-box;
            margin-top: rhythm-px(.5);

            .media {
                width: grid-space(38);

                p {
                    margin: 0;
                }

                .popular-pros {
                    @include adjust-font-size-to($to-size: $font-size-small, $from-size: $font-size-normal);
                    background-color: $desatBlue;
                    color: $desatDarkBlue;
                    padding: rhythm-px(.25) grid-space(2);
                }

                .lozenge {
                    @include border-radius($border-radius);
                    font-size: $font-size-normal;
                    background-color: $desatDarkBlue;
                    color: $desatBlue;
                    padding: rhythm-px(.4) grid-space(2);
                    font-weight: 400;

                    &:hover {
                        background-color: $redOrange;
                        color: $lightestGrey;
                    }
                }

                .local-pros--lozenges {
                    @include clearfix();
                    margin: rhythm-px(.5) 0 0;

                    .local-pros-tag {
                        float: left;
                        display: inline-block;

                        &.SearchAllProfessionals {
                            display: block;
                            clear: left;
                            font-weight: 300;

                            .lozenge:after {
                                @include icon-hui('chevron-right');
                                margin: 0 0 0 grid-space(.5);
                                vertical-align: middle;
                            }

                            a, span {
                                @include adjust-font-size-to($to-size: $font-size-small, $from-size: $font-size-normal);
                            }
                        }
                    }
                }

                .local-pros--cta {
                    padding-top: rhythm-px();

                    .cta-title {
                        font-size: $font-size-2xlarge;
                    }
                }

                .local-pros--sign-up {
                    margin-top: rhythm-px(2.25);
                    font-weight: 400;
                    color: $white;

                    a {
                        color: $blue;
                        font-weight: 700;
                    }
                }
            }

            .details {
                position: relative;
                height: rhythm-px(19.5);

                .local-pros--agent {
                    @include border-radius(50%);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: 50%, 50%;
                    width: grid-space(16.5);
                    height: rhythm-px(8.25);
                    border: 3px solid $white;
                    position: absolute;
                    overflow: hidden;

                    .agent-details {
                        @include transition(all, 0.3s, ease-in-out);
                        @include box-shadow(0 grid-space(-1) grid-space() rgba($black, .5));
                        background-color: rgba(0, 0, 0, 0.5);
                        color: $white;
                        position: absolute;
                        padding-bottom: rhythm-px(1.75);
                        bottom: rhythm-px(-8);
                        left: 50%;
                        transform: translate(-50%, 0);
                        width: grid-space(18);

                        span, .agent-details--view-profile {
                            display: block;
                            text-align: center;
                            margin: rhythm-px(-0.25) 0;
                            padding: 0;
                        }

                        .agent-details--name, .agent-details--tag, .agent-details--company {
                            max-width: grid-space(13);
                            margin: 0 auto;
                        }

                        .agent-details--name {
                            color: $orange;
                            font-weight: 700;
                        }
                        .agent-details--tag {
                            @include adjust-font-size-to($to-size: $font-size-small, $from-size: $font-size-normal);
                            font-weight: 700;
                        }
                        .agent-details--company {
                            @include adjust-font-size-to($to-size: $font-size-small, $from-size: $font-size-normal);
                        }
                        .agent-details--view-profile {
                            @include adjust-font-size-to($to-size: $font-size-xsmall+1, $from-size: $font-size-normal);
                            text-transform: uppercase;
                            color: $desatBlue;
                            margin: rhythm-px(.25) 0 rhythm-px(-1);
                        }
                    }

                    &:hover {
                        .agent-details {
                            bottom: 0;
                        }
                    }

                    &:nth-of-type(3), &:nth-of-type(4) {
                        width: grid-space(18.5);
                        height: rhythm-px(9.25);
                    }

                    &:nth-of-type(1) {
                        left: grid-space(2);
                        top: rhythm-px();
                        z-index: 10;
                    }
                    &:nth-of-type(2) {
                        left: grid-space(26);
                        top: rhythm-px(2.5);
                        z-index: 10;
                    }
                    &:nth-of-type(3) {
                        right: grid-space(7);
                        top: 0;
                    }
                    &:nth-of-type(4) {
                        left: grid-space(12);
                        bottom: rhythm-px(3.5);
                        z-index: 1;
                    }
                    &:nth-of-type(5) {
                        right: grid-space(15);
                        bottom: rhythm-px(2.5);
                        z-index: 1;
                    }
                    &:nth-of-type(6) {
                        right: 0;
                        bottom: rhythm-px();
                        z-index: 10;
                    }
                }
            }
        }
    }
}
