//@import "ngDialog/css/ngDialog.css";
//@import "ngDialog/css/ngDialog-theme-plain.css";
@import "modals-ngDialog";
@import "modals-ngDialogTheme";

.modal {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10000000;
    &.modal--full {
        height: 100%;
        .modal--frame {
            height: 100%;

        }
    }
}

.modal--frame {
    //    padding: rhythm(3) grid-space(2) rhythm-px(); COMMENTED OUT TO REMEDY PADDING WITH BACK BUTTON
    background: $lightGrey;
    padding: 0;
    overflow: auto;

    .multi-selection-list {
        padding: rhythm-px() grid-space(2) rhythm-px();
    }
}

.modal--backdrop {
    @include stretch();
    position: fixed;
    z-index: 1000;
    background: rgba($black, 1);
}

// animation
// default wrap slides up.
.modal {
    @include transition-simple-slide(0, 100%, $duration: .3s);
}

// backdrop fades in
.modal--backdrop {
    @include transition-backdrop-fade(0.5, $duration: .15s);
}

// default content nothing special
.modal-content {
    padding: rhythm-px();
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    .multi-selections {
        width: grid-space(22.5);
    }

}

.modal-title {
    @extend .module-title; // hui-comopnents-style
}
.modal-content .module-title,
.modal-title {
    padding-left: 0;
    padding-right: 0;
    @include trailing-border($width: 1px, $lines: 0.5, $font-size: $font-size-xlarge); // adds padding with border
    border-bottom-color: $lightGrey;
    margin-bottom: rhythm-px();
}




.modal-close {
    @extend .close-button; // hui-components-style
}
