$modal-slide-duration: .5s;
$modal-slide-timing-function: ease-in-out;

.ngdialog {
    @include stretch();
    max-width: 100%;
    position: fixed;
    overflow: hidden;
    z-index: $modal-z-index;
}

.ngdialog-overlay {
    @include modal-backdrop($exit-selector: '.ngdialog.ngdialog-closing &', $extend: false);
    z-index: 0;
}
.ngdialog-no-overlay {
  pointer-events: none;
}

.ngdialog-content {
    @include animation--duration-timing-backface($duration: $modal-slide-duration);
    @include animation-name('fade-add');
    z-index: 1;
    pointer-events: all;
    .ngdialog.ngdialog-closing & {
        @include animation--duration-timing-backface($duration: $modal-slide-duration);
        @include animation-name('fade-remove');
    }
}

.ngdialog-close {
    @extend .modal-close;
}

body.ngdialog-open {
    max-width: 100%;
}
