.nearby-locations-lightbox {
    padding: rhythm-px() grid-space(2);
    .heading {
        color: $blue;
        width: 100%;
        font-size: $font-size-large;
        font-weight: bold;
        display: block;
        border-bottom: 1px solid $darkGrey;
        padding-bottom: rhythm-px(.5);
        margin-bottom: rhythm-px();
    }

    .locations {
        margin-top: rhythm-px(2);
        max-height: rhythm-px(20);
        overflow: auto;
        @include display-flex();
        @include flex-wrap(wrap);
        @include flex-direction(row);
        & > .location {
            @include display-flex();
            @include flex-grow(1);
            width: 33%;
            margin-bottom: rhythm-px(.5);
            flex: inherit;
            content: '';
        }
    }

    .buttons {
        margin-top: rhythm-px(2.5);
        margin-left: 33.3%;
        & > .button {
            cursor: pointer;
            &:active,
            &:focus {
                color: $white;
                outline: none;
            }
        }
        & > .cancel {
            color: $blue;
            cursor: pointer;
            margin-left: grid-space(2);
            font-size: $font-size-large;
            font-weight: bold;
        }
    }
}
