
.next-steps.save-confirmation {
    height: rhythm-px(20);
}
.next-steps {
    width: grid-space(60);
    color: $blue;
    height: rhythm-px(25);
    &.save-confirmation .next-steps--header-confirmation {
        text-align: left;
        @include adjust-font-size-to($to-size: $font-size-medium, $from-size: $font-size-normal);
    }
    .next-steps--header,
    .next-steps--header-confirmation {
        font-size: $font-size-normal;
        font-weight: 600;
        line-height: rhythm-px(1.5);
        border-bottom: 1px solid $lightGrey;
        padding: 0 grid-space();
        text-align: center;
        .next-steps--header-text {
            display: block;
        }
        .next-steps--checkicon {
            background-color: $green;
            padding: 0 grid-space(1.2);
            border-radius: 50%;
            color: $white;
            margin: rhythm-px(0.5) grid-space() 0 0;
            font-weight: 800;
            font-size: $font-size-large;
            line-height: $font-size-2xlarge + 4px;
            display: inline-block;
            &:before {
                @include icon-hui('checkmark');
            }
        }
    }
    .next-steps--content {
        padding: grid-space(2) grid-space(2);
        .next-steps--secondary-header {
            display: block;
            margin-bottom: rhythm-px(0.75);
        }
        .next-steps--column {
            float: left;
            padding: rhythm-px(.1) grid-space(2.2);
            .watch-price,.save-property {
                height: rhythm-px(7);
                width: grid-space(15);
                cursor: pointer;
                border: 0;
                background: $lightestGrey;
                display: block;
                margin-bottom: rhythm-px();
                color: $blue;
                font-weight: 600;
                font-size: $font-size-medium;
                @include border-radius($border-radius);
                &:before {
                    display: block;
                    color: $darkGrey;
                    font-size: $font-size-gigantor + 22px;
                    line-height: rhythm-px(3);
                    position: relative;
                    top: rhythm-px(-0.5);
                }
            }
            .watch-price:before {
                @include icon-hui('binoculars');
            }
            .save-property:before {
                @include icon-hui('heart-full');
            }
            .save-property.saved {
                background: $orange;
                color: $white;
                &:before {
                    color: $white;
                }
            }
            .listing-card {
                border: 1px solid $lightestGrey;
                padding: rhythm-px(0.25) grid-space(0.5);
                margin-top: rhythm-px();
                .listing-card--image {
                    width: grid-space(15);
                    height: rhythm-px(7.5);
                    img {
                        width: inherit;
                        height: inherit;
                    }
                }
                .listing-card--content {
                    text-align: center;
                    width: grid-space(15);
                    .price,
                    .address,
                    .city,
                    .beds {
                        margin: 0;
                        font-weight: 700;
                    }
                    .price,
                    .city {
                        color: $mediumDarkGrey;
                    }
                    .beds,
                    .address {
                        font-size: $font-size-small;
                    }
                    .beds {
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
