.lead-form {
    &.lead-form--offered-by {

        .lead-form--form {
            background-color: $lightGrey;
        }
    }
    .lead-form--form {
        @include clearfix(both);
        @include wrap-padding();
        padding-top: 0;
    }
    .lead-form--opt-in {
        margin: rhythm-px(1.5) 0;
        display: block;
        @include clearfix('both');
        .input-checkbox + label {
            display: block;
        }
    }
    .lead-form--submit {
        margin: rhythm-px(1.5) 0 rhythm-px(.5);
        text-align: center;
    }

    .lead-form--privacy-policy {
        text-align: center;
        color: $mediumGrey;
        font-size: $font-size-xsmall;
        margin-top: rhythm-px();
    }

    .offered-by,
    .local-connect {
        margin: 0 0 rhythm-px(1);
    }
    .offered-by {
        .offered-by--content {
            @include display-flex;
            padding: rhythm-px() 0 rhythm-px(.5);
        }

        .offered-by--provider {
            .offered-by--content {
                @include display-flex;
                padding: rhythm-px() 0 rhythm-px(.25);
            }
            .offered-by--image {
                .offered-by--logo {
                    width: grid-space(6);
                    height: rhythm-px(3);
                    margin-right: grid-space();
                    text-align: center;
                    background-size: contain;
                    background-position: center center;
                    background-repeat: no-repeat;
                    overflow: hidden;
                }
            }
            .offered-by--name {
                font-weight: 300;
                font-size: $font-size-large;
                word-break: break-word;
                a {
                    white-space: normal;
                }
            }
            .offered-by--name.secondary-provider {
                font-size: $font-size-normal;
                color: $mediumGrey;
            }
            .offered-by--content.secondary-provider {
                padding: 0 0 rhythm-px(.5);
            }
            .offered-by--image + .offered-by--provider-info {
                width: grid-space(15);
            }
            .offered-by--company-name {
                font-size: $font-size-large;
                color: $mediumGrey;
                line-height: $base-line-height+1;
                font-weight: 300;
            }

            .offered-by--builder-links, .offered-by--builder-sales {
                @include adjust-font-size-to($to-size: $font-size-medium, $from-size: $font-size-normal);
                word-wrap: break-word;
            }

            .offered-by--builder-links {
                margin: rhythm-px(.75) 0;
                .community_website_url, .builder_website_url {
                    font-weight: 400;
                    font-size: $font-size-normal;
                    &::after {
                        @include icon-hui('externallink');
                        position: relative;
                        top: rhythm-px(0.1);
                        left: grid-space(0.3);
                    }
                }
            }

            .offered-by--builder-sales {
                @include clearfix();

                .offered-by--sales-office {
                    display: none;
                }

                .offered-by--sales-address {
                    color: $mediumGrey;
                    font-weight: 300;
                }
            }

            .offered-by--phone-number {
                color: $mediumGrey;
                font-weight: 300;
            }

            .offered-by-a55 {
                background-image: url('../images/property/a55-logo.png');
            }

            .offered-by-frc {
                background-image: url('../images/property/frc-logo.png');
            }

            .offered-by-a55,.offered-by-frc {
                height: rhythm-px(2.5);
                width: grid-space(10);
                background-repeat: no-repeat;
                background-size: contain;
            }

            .builder_free {
                .offered-by--builder-sales {
                    display: none;
                }
            }
        }
    }

    // local-connect
    .local-connect {
        .local-connect--provider {
            margin: 0 $wrap-shade-padding-side * -1;
            background-color: $lightestGrey;
            @include clearfix();

            .local-connect--content {
                @include display-flex;
                @include flex-direction(row);
                @include flex-wrap(nowrap);
                min-height: rhythm-px(4);
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                padding: (rhythm-px(.5) - 1px) grid-space() (rhythm-px(.5) - 1px); // maintaining rhythm with borders
                border-bottom: 2px solid $white;
                &.is-selected {

                    background-color: $lightGrey;
                }
                &:first-child {
                    padding-top: rhythm-px(.5);
                }
            }
            .local-connect--name {
                font-size: $font-size-large; // we have no variable for 22px;
                font-weight: 600;
            }
            .local-connect--image-container {
                width: grid-space(6);
                margin-right: grid-space(2);
                .local-connect--logo {
                    width: 100%;
                    max-height: rhythm-px(3);
                }
            }

            .local-connect--provider-info {
                @include flex-grow(2);
                position: relative;
                font-size: $font-size-small;
                line-height: $base-line-height;
                float: left;
                width: grid-space(20);
                .local-connect--contact-info {
                    position: absolute;
                    top: 10%;
                    width: 100%;
                }
                .local-connect--phone-number {
                    color: $darkBlue;
                    &:first-of-type {
                        margin-right: grid-space();
                    }
                }
                .local-connect--listing-agent {
                    text-transform: uppercase;
                    color: $desatBlue;
                    white-space: nowrap;
                }
                .local-connect--preferred {
                    text-transform: uppercase;
                    color: $orange;
                }
            }
            .local-connect--input {
                margin: rhythm-px() 0;
                position: relative;
                top: rhythm-px(.5);
                label {
                    display: block;
                }
                .icon-hui--checkmark {
                    margin-right: grid-space(1.5);
                    color: $form-input-complete-color;
                    font-size: $font-size-large;
                }
            }
        }

        &.local-connect--desktop {
            display: inline-block;
            width: 100%;
            margin: 0 0 rhythm-px(.5);

            .local-connect--provider {
                background-color: $lightGrey;
                margin: 0;
                font-size: $font-size-normal;

                .local-connect--content {
                    border-bottom: 0;
                    min-height: rhythm-px(2);
                    padding: rhythm-px(.25) 0;
                }

                .local-connect--image-container {
                    width: grid-space(4);
                    height: rhythm-px(2);
                    margin-right: grid-space(.5);

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .local-connect--name {
                    @include ellipsis();
                    font-weight: 400;
                    font-size: $font-size-normal;
                    color: $blue;

                    & a {
                        font-weight: 400;
                        font-size: $font-size-normal;
                        color: $blue;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .local-connect--provider-info {

                    .local-connect--contact-info {
                        @include experimental(font-smoothing, antialiased);

                        .local-connect--phone-number {
                            color: $mediumGrey;
                        }
                    }
                }
                .local-connect--input {
                    position: relative;
                    top: 0;
                    width: grid-space(3.5);
                    float: left;

                    .local-connect--input .input-checkbox, .input-checkbox + label, .icon-hui--checkmark {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }


    // two column variation
    //
    &.modal-content,
    &.request-information {
        .lead-form-container {
            @include clearfix;
            padding: rhythm-px() grid-space();

            .offered-by,
            .local-connect {
                float: left;
            }
            .listing-lead-form {
                overflow: hidden;
            }

            .local-connect-offered-by .offered-by{

                .offered-by--image {
                    .offered-by--logo {
                        width: grid-space(10);
                        height: rhythm-px(5);
                        margin-right: grid-space(2);
                    }
                }

                .offered-by--provider {
                    margin-bottom: rhythm-px();
                }

                .builder_free {
                    .offered-by--provider-info {
                        .offered-by--builder-sales {
                            display: block;
                        }
                    }
                }

                .offered-by--provider-info {
                    position: relative;

                    .offered-by--builder-sales {
                        position: absolute;
                        margin-top: rhythm-px(3.5);

                        .offered-by--sales-office {
                            display: block;
                            font-size: $font-size-xlarge;
                            margin: rhythm-px(2) 0 rhythm-px(.5);
                        }

                        .offered-by--sales-address{
                            font-size: $font-size-large;
                            width: grid-space(20);
                            & span {
                                display: block;
                                font-size: $font-size-normal;
                            }
                        }
                    }
                }

            }

        }
    }
    // modal variation
    &.modal-content {
        .lead-form-container {
            min-width: grid-space(61); // 300 px each column, 10px gutter
        }
    }
}
