.talk-now-cta {
    z-index: 4;
    .talk-now-btn {
        @include font-weight(400);
        height: rhythm-px(2);
        line-height: rhythm-px(1.8);
        margin-top: rhythm-px(0.6);

        .icon-headset {
            background: url("/images/talknow/headset-mic.png") no-repeat;
            width: grid-space(1.5);
            height: rhythm-px(0.9);
            float: left;
            margin: rhythm-px(0.5) grid-space(0.5) 0 0;
        }
    }
}

.talk-now-sticky-header {
    width: grid-space(100);
    margin: rhythm-px(0.5) auto;
    height: rhythm-px(2.75);

    .talk-now-inline {
        float: left;
    }

    .talk-now-icon {
        width: grid-space(10);

        .icon {
            background-image: url('/images/talknow/logo-talknow.png');
            height: rhythm-px(3);
            background-size: contain;
            background-repeat: no-repeat;
            margin-top: 0;
            margin-bottom: rhythm-px(0.5);
        }
    }

    .talk-now-info {
        margin-left: grid-space();
        width: grid-space(32.5);

        .title,
        .property-info {
            color: $blue;
        }

        .title {
            line-height: $font-size-normal;
            font-size: $font-size-large + 2;
            @include font-weight(400);
            margin-top: rhythm-px(0.5);
        }

        .property-info {
            font-size: $font-size-medium;
            @include font-weight(600);
            margin: 0;
            padding: 0;
        }
    }

    .talk-now-disclaimer {
        text-align: right;

        .header-disclaimer {
            margin-top: 0;
            color: $mediumGrey;
            margin-top: rhythm-px(0.5);
        }
    }

    .talk-now-modal-btn {
        float: right;
    }
}

.talk-now-flyout {
    position: fixed;
    top: rhythm-px(6);
    right: grid-space(10);
    background-color: white;
    @include border-radius($border-radius);
    padding: rhythm-px();
    @include box-shadow(0 0 5px rgba(0,0,0,0.5));
    @include animation--duration-timing-backface($duration: 1s);
    @include animation-name(slide-left-add);

    &.slide-out {
        right: grid-space(-54);
        @include animation--duration-timing-backface($duration: 1s);
        @include animation-name(slide-right-add);
    }

    .close {
        position: absolute;
        top: rhythm-px(0.5);
        right: grid-space();

        &:hover {
            cursor: pointer;
        }

        &:before {
            @include icon-hui('close');
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-weight: 400;
            font-size: $font-size-large + 2;
            font-style: normal;
        }
    }

    .flyout-content {
        background-image: url('/images/talknow/logo-talknow.png');
        background-position: left center;
        background-repeat: no-repeat;
        width: grid-space(50);
        height: rhythm-px(7.5);

        .content-right {
            text-align: center;
            margin-left: grid-space(11);

            .flyout-title {
                color: $blue;
                font-size: $font-size-xlarge + 6;
                @include font-weight(400);
                margin: 0;
            }

            .flyout-disclaimer {
                margin: 0;
            }
        }
    }
}

.talk-now--modal-connect {
    padding: rhythm-px(2.5) grid-space(2);
    background-image: url('/images/talknow/logo-talknow.png');
    background-position: left center;
    background-repeat: no-repeat;
    background-position-x: grid-space(3);

    .talk-now-top-intro {
        margin-left: grid-space(22);

        .heading {
            font-size:$font-size-2xlarge;
        }

        .talk-now-disclaimer {
            font-size: $font-size-medium;
            color: $mediumGrey;
        }
    }
}

.talk-now-form {
    .talk-now-top-intro {
        .heading,
        .sub-heading,
        .talk-now-disclaimer,
        .agents,
        .talk-now-ringer {
            text-align: center;
        }

        .heading {
            color: $blue;
            font-size: $font-size-2xlarge;
            @include font-weight(400);
            margin-top: rhythm-px();
        }

        .talk-now-ringer {
            background-image: url('/images/talknow/logo-talknow.png');
            height: rhythm-px(4.5);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            margin-top: rhythm();
        }

        .sub-heading {
            color: $blue;
            font-size: $font-size-large;
            @include font-weight(400);
            margin: rhythm-px(0.5) 0;
        }

        .agents {
            margin: 0 auto;
            font-size: $font-size-normal;
            width: 50%;
        }

        .talk-now-disclaimer {
            margin: 0 auto;
            font-size: $font-size-small;
            color: $mediumGrey;
        }
    }

    .talk-now-top-form {
        margin: rhythm();

        .action {
            text-align: center;
            clear: both;

            button {
                @include font-weight(400);
                height: grid-space(4);
                line-height: grid-space(3.5);
                margin: rhythm-px() auto rhythm-px(0.5) auto;
                width: $grid-space(16);
            }
        }

        .talk-now--text-first {
            float: left;
            margin: rhythm-px() 0 0 grid-space(1.5);
        }

        form.talk-now--form .lead-form--basic-fields {
            label {
                float: left;
                width: 47.5%;

                &:nth-of-type(2) {
                    margin-left: grid-space(1.5);
                }

                &:nth-child(4) {
                    clear: left;
                }
            }
        }
    }
}

//light Box window
.talk-now-modal {
    .talk-now-success,
    .talk-now-cancel {
        padding: rhythm-px(1.25) grid-space(7);

        .talk-now-top-intro {
            margin: 0 auto;
            text-align: center;

            .talk-now-check {
                margin-top: rhythm-px(3);

                &:before {
                    @include icon-hui('checkmark');
                    color: $orange;
                    font-size: $font-size-gigantor + 72;
                }
            }

            .talk-now-long-heading {
                font-size: $font-size-xlarge + 2;
            }

            .talk-now-thumbs {

                margin-top: rhythm-px(3);

                &:before {
                    @include icon-hui('thumb-up');
                    color: $orange;
                    font-size: $font-size-gigantor + 72;
                }
            }

            .talk-now-disclaimer {
                @include adjust-font-size-to($from-size:$font-size-normal,$to-size:$font-size-small);
                color: $mediumGrey;
            }
        }
    }
}
