// @huidoc module
// @name Tooltip
// @module huiTooltip
// @description
// Formats a tooltip with the .tooltip class to be lightGrey header with darkerGrey body.
//
// @styleguide 0.0.0

.tooltip .ngdialog-content {
    background-color: $lightGrey;

    .tooltip-dialog {
        height: 100%;

        .tooltip-head,
        .tooltip-body {
            padding: rhythm-px(.75) grid-space(1.5);
        }

        .tooltip-title,
        .tooltip-close {
            font-weight: 400;
            font-size: $font-size-large;
            line-height: rhythm-px();
        }

        .tooltip-head {
            background-color: $lightestGrey;
            color: $orange;

            .tooltip-title {
                padding-right: grid-space(3);
            }
        }

        .tooltip-close {
            color: $blue;
            position: absolute;
            top: rhythm-px(.75);
            right: grid-space(1.5);
        }
        .tooltip-body {
            /* if any html element is added. collapsze the top margin/padding styles for first-child so */
            /* margin/padding remains consistant with plain text tooltips. */
             :first-child {
                padding-top: 0;
                margin-top: 0;
            }
        }
    }
}
