// @huidoc sass
// @name multi-select
// @module forms
// @mobile
//
// @description
// Select one or more values from series of options
//
// @markup
// <div class="form-input--select-list">
//     <div class="select--button">
//         <span class="select--button-text">selectButton</span>
//     </div>
//     <ul class="dropdown-menu" role="menu">
//         <li class="dropdown-item">
//             <input class="dropdown-item-input"/>
//             <label class="dropdown-item-label">label</label>
//         </li>
//     </ul>
// </div>
//
// @styleguide 0.0.0

.form-input--select-list {
    .dropdown-menu {
        display: none;
    }
    &.dropdown {
        &.open {
            .dropdown-menu {
                display: block;
            }
        }
    }

    .select--button {
        width: 100%;
        height: rhythm-px(2.5);
        padding-left: grid-space();

        .select--button-text {
            @include vertical-center();
            height: rhythm-px(2.5);
        }
    }

    .dropdown-menu {
        margin-top: rhythm-px(-0.6);
        margin-left: -1 * $form-input-border-width; // offsetting for border
        border: $form-input-border;
        border-top: 0;
        color: $mediumGrey;
        font-size: $font-size-normal;
        background-color: $white;
        width: grid-space(16.3);

        .dropdown-item {
            border: $form-field-border;
            border-color: transparent;
            height: rhythm-px(1.5);
            padding-left: grid-space();
            margin: rhythm-px(0.5) (-1 * $form-input-border-width); // offsetting for border

            &:active, &:hover {
                @include form-input-shadow();
                border: $form-input-border;
                border-color: $form-field-hover-border-color;
                color: $form-input-hover-color;
                z-index: 1;
            }

            .dropdown-item-input {
                display: none;
            }
            .dropdown-item-label {
                @include vertical-center();
                height: rhythm-px(1.5);
                width: 100%;
                display: block;
            }
        }
    }

}
