//@huidocs sass
//@name autosuggest
//@module search
//
//@description
//Autosuggest powered by Angular UI Bootstrap http://angular-ui.github.io/bootstrap/#/typeahead
//
//Appears in search forms
//
//@markup
//<ul class="autosuggest">
//    <li class="autosuggest--item">
//        <a class="autosuggest--link">Suggestion</a>
//    </li>
//    <li class="autosuggest--item">
//        <a class="autosuggest--link">Suggestion</a>
//    </li>
//    <li class="autosuggest--item">
//        <a class="autosuggest--link">Suggestion</a>
//    </li>
//    <li class="autosuggest--item">
//        <a class="autosuggest--link">Suggestion</a>
//    </li>
//</ul>
//@styleguide

.autosuggest {
    position: absolute;
    display: block;
    @include backface-visibility(hidden);
    @include transform(translate3d(0, 0, 0));
    z-index: 999;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: rhythm-px(.5) + $form-input-border-width; // offsetting for border
    margin-left: -1 * $form-input-border-width; // offsetting for border
    border: $form-input-border;
    background-color: $white;
    color: $mediumLightGrey;
    max-height: rhythm-px(14.5);
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: content-box;
    padding: {
        top: rhythm-px(.25);
        bottom: rhythm-px(.25);
    }
}

.autosuggest--item {
    border: $form-field-border;
    border-color: transparent;
    margin: grid-space() (-1 * $form-input-border-width); // offsetting for border
    &:not(.secondary--description):hover,
    &:not(.secondary--description).is-active {
        outline: none;
        border-color: $form-field-hover-border-color;
        color: $form-field-hover-border-color;
    }

    .link {
        padding: 0 grid-space(2.5);
        font-weight: 400;
        display: block;
        color: inherit;
        text-decoration: none;
        @include ellipsis(false);

        .autosuggest-type {
            float: right;
            color: $form-field-hover-border-color;
        }
    }
}
