$grid-space: 10px;
$relative-font-sizing: true;
$base-font-size: 14px;
$base-line-height: 20px;
$site-min-width: 320px;
$homepage-content-width: 1110px;
$rem-base: $base-font-size;

@import 'homes-ui/Functions';

$close-button-icon: 'close' !global;

$close-button-diameter: rhythm-px(1.5) !global;
$close-button-top: $close-button-diameter / -2 !global;
$close-button-right: $close-button-diameter / -2 !global;

$modal-backdrop-opacity: .5 !global;
$modal-z-index: 1000 !global;

$wrap-shade-padding-side: grid-space(2) !global;
