/* ==========================================================================
   App Stylesheet
   app.scss
   ========================================================================== */
/* Vendor Styles and Setting (foundation > settings)
   ======================================================================== */
$site-content-width: 1000px;
$site-min-width: $site-content-width;

@import "Base";
@import "./settings";

body {
   min-width: rem-calc($site-min-width);
}
@import "foundation/components/grid";
@import "foundation/components/visibility";

.row {
   max-width: none;
}
