<div class="footer-bar-cell">
    <div class="footer-container">
        <div class="footer-mainblock">
            <div class="footer-nearby-cities">
                <div class="cities-block"
                     data-ng-if="footerBarCellCtrl.footerLinks.result[0].items && footerBarCellCtrl.footerLinks.result[0].label">
                    <p class="label-heading">{{footerBarCellCtrl.footerLinks.result[0].label}}</p>
                    <div class="links-block">
                        <span class="footer-bar-labels" data-ng-repeat="cities in footerBarCellCtrl.footerLinks.result[0].items">
                            <a data-ng-href="{{cities.uri}}">
                                {{cities.label}}
                            </a>
                        </span>
                        <div class="show-all-button"
                             data-ng-if="footerBarCellCtrl.footerLinks.result[0].more_uri">
                            <a href="{{footerBarCellCtrl.footerLinks.result[0].more_uri}}">
                                <button class="show-button">
                                    Show All
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-zipcodes">
                <div class="zipcode-block"
                     data-ng-if="footerBarCellCtrl.footerLinks.result[1].items && footerBarCellCtrl.footerLinks.result[1].label">
                    <p class="label-heading">{{footerBarCellCtrl.footerLinks.result[1].label}}</p>
                    <div class="links-block">
                        <span class="footer-bar-labels" data-ng-repeat="cities in footerBarCellCtrl.footerLinks.result[1].items">
                            <a data-ng-href="{{cities.uri}}">
                                {{cities.label}}
                            </a>
                        </span>
                        <div class="show-all-button"
                             data-ng-if="footerBarCellCtrl.footerLinks.result[1].more_uri">
                            <a data-ng-href="{{footerBarCellCtrl.footerLinks.result[1].more_uri}}">
                                <button class="show-button">
                                    Show All
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-neighborhoods">
                <div class="neighborhood-block"
                     data-ng-if="footerBarCellCtrl.footerLinks.result[2].items && footerBarCellCtrl.footerLinks.result[2].label">
                    <p class="label-heading">{{footerBarCellCtrl.footerLinks.result[2].label}}</p>
                    <div class="links-block">
                        <span class="footer-bar-labels" data-ng-repeat="cities in footerBarCellCtrl.footerLinks.result[2].items">
                            <a data-ng-href="{{cities.uri}}">
                                {{cities.label}}
                            </a>
                        </span>
                        <div class="show-all-button"
                             data-ng-if="footerBarCellCtrl.footerLinks.result[2].more_uri">
                            <a data-ng-href="{{footerBarCellCtrl.footerLinks.result[2].more_uri}}">
                                <button class="show-button">
                                    Show All
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
