<div class="global-nav-footer">
    <footer-bar-cell></footer-bar-cell>
    <div class="footer-content--text-c"
        data-ng-if="$root.pageMeta.$current.text_c"
        data-ng-bind-html="globalNavFooterCtrl.trustedHTML($root.pageMeta.$current.text_c)">
    </div>

    <div class="footer-content--text-d"
        data-ng-if="$root.pageMeta.$current.text_d"
        data-ng-bind-html="globalNavFooterCtrl.trustedHTML($root.pageMeta.$current.text_d)">
    </div>

    <div class="copyright-footer">

        <div class="connect-section">
            <div class="connect-with-us">Connect with us
                <a href="https://www.facebook.com/homesdotcom" class="share-facebook" target="_blank"><i class="icon-hui icon-hui--facebook" /></a>
                <a href="https://twitter.com/homesdotcom" class="share-twitter" target="_blank"><i class="icon-hui icon-hui--twitter" /></a>
                <span google-share-button="'http%3A%2F%2Fwww.homes.com'" class="share-google" />
                <a href="https://www.youtube.com/user/homesdotcom" class="share-you-tube" target="_blank"><i class="icon-hui icon-hui--youtube" /></a>
                <a href="https://www.pinterest.com/homesdotcom/" class="share-pinterest" target="_blank"><i class="icon-hui icon-hui--pinterest" /></a>
            </div>
            <div class="contact-links">
                <span data-deob=" real-estate advertising ">Advertise With Us</span> |
                <span data-deob=" Content Feedback.cfm">Email Us</span> |
                <span data-deob=" Content Feedback.cfm">Send Us Your Feedback</span>
            </div>
        </div>

        <div class="legal-apps-copyright">
            <div class="legal-apps">
                <div class="legal-links">
                    <span data-deob=" Policies #homesTerms">Terms &amp; Conditions</span> |
                    <span data-deob=" Policies #homesPrivacy">Privacy Policy</span> |
                    <span data-deob="wwwdotnetworkadvertisingdotorg choices ">Ad Choices <i class="ad-choices" /></span>
                </div>

                <div class="mobile-apps">
                    Go Mobile
                    <a class="button button--secondary promo--app-button"
                        href="https://itunes.apple.com/us/app/homes.com-real-estate-search/id306423353?mt=8&uo=4"
                        target="_blank"
                        data-tl-object="app_referral_hdc_portalhomefeatured_ios">
                        <i class="icon-hui icon-hui--apple-store"></i>App Store
                    </a>
                    <a class="button button--secondary promo--app-button"
                        href="https://play.google.com/store/apps/details?id=com.homes.homesdotcom"
                        target="_blank"
                        data-tl-object="app_referral_hdc_portalhomefeatured_android">
                        <i class="icon-hui icon-hui--google-play"></i>Google Play
                    </a>
                </div>
            </div>

            <div class="copyright">
                <span class="equal-housing-icon" />
                <div class="copyright-text">
                    <p>Homes.com is Part of the Homes.com &amp; ForRent.com Network | <span data-deob="http:  wwwdotdominionenterprisesdotcom terms-of-use ">&copy; 2016 Dominion Enterprises. All Rights Reserved</span>.</p>
                    <p>Homes.com, ForRent.com, Dominion Enterprises, Property Managers, Owners, Agents, and paid advertisers are not responsible for typographical errors. Prices, conditions and apartment availability are subject to change without notice.</p>
                    <p class="homes-com-logo"><img src="/images/default/homescom_logo_white.png" width="160" height="30" alt="Homes.com" /></p>
                </div>
            </div>
        </div>
    </div>
</div>
