// Infobox
$tooltipArrow-height: 15px !global !default;
@mixin map-infobox($extend: true) {
    @if $extend {
        @extend %map-infobox;
    } @else {
        position: relative;
        // min-width: 410px;
        padding: rhythm-px(.5) 2em;
        @include border-radius($map-radius);
        text-align: center;
        white-space: nowrap;
        background: $blue;
        overflow: visible !important;
        &,
        & > a {
            color: $white;
            text-decoration: none;
        }
        a {
            display: block;
        }

        & > .arrow::after {
            background: $blue;
        }
        & > .arrow {
            @include TooltipArrow-arrow() {
                // @include box-shadow(2px 2px 2px rgba($black, .5));
            }
        ;
            @include TooltipArrow-position('bottom');
        }

        // Listing
        &.infobox-listing {
            margin-top: -20px; // height of arrow (5px) +height of pin(10px) +  + space (5px)
        }
        // School
        &.infobox-school {

        }
        // Home Values
        &.infobox-hv {
            white-space: normal;
        }

        // Zip Level
        &.infobox-zip {

        }

        // grey
        &.infobox-invert {
            color: $white;
            background: $body-color;
            & > .arrow::after {
                background: $body-color;
            }
        }
    }
}

@if import-once('mapsInfobox.scss') {

    %map-infobox {
        @include map-infobox($extend: false);
    }
}
