<div data-search-filter>
    <div listing-search-sort filter-ctrl="$parent.$parent.filterCtrl" submit-on-change="true">
        <div ng-form name="desktopListingSortFilter">
            <form-input-radio-split-list
                class="form-multi-select"
                data-form-input-name="order_by"
                data-form-input-data="listingSearchFilter.fieldData.order_by"
                data-form-input-context="filterCtrl.searchParams"
                data-form-input-model="filterCtrl.searchParams.order_by[0]"
                data-split-flag="true"
                data-split-size=3>
            </form-input-radio-split-list>
        </div>
    </div>
</div>
