<ul class="items-list nav-site _dynamicNav">
    <li class="item nav-item" data-ng-if="globalNavCtrl.navLinks" data-ng-repeat="menuItem in globalNavCtrl.navLinks">
        <a href="{{menuItem.uri}}" ng-if="!menuItem.obfuscate">{{menuItem.label}}</a>
        <span class="a" data-deob="{{menuItem.uri | obfuscate}}" ng-if="menuItem.obfuscate && menuItem.label !== 'Advertise'">{{menuItem.label}}</span>
        <span class="a" data-ng-click="globalNavCtrl.goToLegacy(menuItem.uri)" ng-if="menuItem.obfuscate && menuItem.label === 'Advertise'">{{menuItem.label}}</span>

        <ul class="sub-items-list nav-drop nav-menu" data-ng-if="menuItem.children">
            <li class="sub-item nav-item" data-ng-repeat="subMenuItem in menuItem.children">
                <a href="{{subMenuItem.uri}}" ng-if="!subMenuItem.obfuscate">{{subMenuItem.label}}</a>
                <span class="a" data-deob="{{subMenuItem.uri | obfuscate}}" ng-if="subMenuItem.obfuscate && subMenuItem.label !== 'Advertise'">{{subMenuItem.label}}</span>
                <span class="a" data-ng-click="globalNavCtrl.goToLegacy(subMenuItem.uri)" ng-if="subMenuItem.obfuscate && subMenuItem.label === 'Advertise'">{{subMenuItem.label}}</span>
            </li>
        </ul>
    </li>
</ul>
