/*/ Single Styles - Default **/

// Layout
.wrap {
    overflow: hidden;
}

.clearfix {
    @extend %clearfix;
}

.clear,
.clr {
    clear: both;
}

.hidden {
    visibility: hidden;
}

.right,
.righF {
    float: right;
}

.left,
.leftF {
    float: left;
}

.autoH,
.button.autoH {
    @extend %autoH;
}

.dnHalf {
    @include margin-leader(.25);
}

.dnOne {
    @include margin-leader(.5);
}

.dnOneHalf {
    @include margin-leader(.75);
}

.dnTwo {
    @include margin-leader(1);
}

.dnThreeFive {
    @include margin-leader(1.75);
}

.mbHalf,
.upHalf {
    @include margin-trailer(.25);
}

.upOne {
    @include margin-trailer(.5);
}

.down15,
.dn15x {
    margin-top: rhythm-px(rhythm-for-height(15px));
}

.dn10x {
    margin-top: rhythm-px(rhythm-for-height(10px));
}

.up5x {
    margin-bottom: rhythm-px(rhythm-for-height(5px));
}

// Size
.wHalf {
    width: 50%
}

// Stylize
.bd {
    @extend %bd;
}

.rd {
    @extend %rd;
}

.mid {
    vertical-align: middle;
}

// Text Colors
.oranT {
    color: $orange;
}

.blueT {
    color: $blue;
}

.greyT {
    color: $darkGrey;
}

.whitT {
    color: $white;
}

.ltgrT {
    color: #999;
}

.redT,
.phDown,
.valueDown {
    color: $red;
}

.greeT,
.phUp,
.valueUp {
    color: green;
}

.blacT {
    color: $black;
}

// Text Size
.fs12 {
    font-size: 12px;
}

.fs13 {
    font-size: 14px;
}

.fs14 {
    font-size: 14px;
}

.fs16,
.fs16T {
    font-size: 16px;
}

// Text Stylize
.noT {
    @extend %noT;
}

.smallT {
    font-size: 6px;
}

.bodyT {
    font-size: 12px;
}

.stroT {
    @extend %strongT;
}

.weak {
    @extend %mediumT;
}

.upperT {
    text-transform: uppercase;
}

.underT {
    text-decoration: underline;
}

.nowrap {
    @extend %nowrap;
}

.norm {
    @extend %normT;
}

// Text Layout
.righAln {
    text-align: right;
}

.leftAln {
    text-align: left;
}

.justAln {
    text-align: justify;
}

.centAln {
    text-align: center
}

// Text Stylize
.decNone {
    text-decoration: none;
}

.decUnder {
    text-decoration: underline;
}

// Matching elements
.postfix {
    @include border-left-radius(0);
}
.prefix {
    @include border-right-radius(0);
}
