/** Fullscreen Frame (Map Page) **/

// Frame Variables
$frame-fullscreen: true;
$frame-border-box: true !default;

$frame-footer-height-fullscreen: 0 !default;

@import "mixins/Frame";

@if import-once('page-frame.scss') {
    html, body {
        height: 100%;
        min-width: $frame-min-width;
        min-height: $frame-min-height;
        margin: 0;
    }
    html {
        padding: 0;
        font: normal 400 #{$base-font-size} / #{$base-line-height} $font-family;
        color: $darkGrey;
        @include establish-baseline($base-font-size);
    }
    body {
        position: relative;
        min-width: $site-min-width;
    }
    @if $frame-border-box {
        * {
            @include box-sizing('border-box');
        }
    }
    // Site Footer
    %frame-footer {
        bottom: 0;
        overflow: hidden;
        height: $frame-footer-height-fullscreen;
        width: 100%;
        text-align: center;

        background: $darkGrey;
        color: $white;
        @include adjust-font-size-to(12px);
        .footer-copyright {
            a {
                color: inherit;
            }
            p {
                margin: 0;
                position: relative;
            }
            p + p {
                display: none;
            }
            .footer-eho {
                position: absolute;
                top: 0;
                display: inline-block;
                right: auto;
                margin-left: -30px;
            }
            .icon.s_20.eho {
                background: transparent url(/media/portalimgcache/default/frame-sprite.png) -40px -330px no-repeat;
            }
        }
    }
    %frame-subheader {
        width: 100%;
    }
}

#logo {
    @include frame-logo;
}

.frame-header,
.frame-footer {
    position: fixed;
    width: 100%;
    min-width: $frame-min-width;
}

.frame-content {
    @include frame-section;
    min-width: $frame-min-width;
    z-index: 1;
    .frame-header > &,
    .frame-subheader > & {
        min-width: $frame-min-width - $frame-padding * 2;
    }
}

div[role=main] {
    height: 100%;
}

.frame-header {
    @include frame-header;
}

.frame-footer {
    z-index: 3;
}

@import "frame/frame-header-v3";
