/*/ Default Frame */

$grid-space: 10px !global !default;

// Frame Variables
$frame-border-box: true !global !default;
$frame-subheader: true !global !default;

html,
body {
    height: 100%;
    margin: 0;
}

html {
    padding: 0;
    font: normal 400 #{$base-font-size} / #{$base-line-height} $font-family;
    color: $darkGrey;
    @include establish-baseline($base-font-size);
}

body {
    position: relative;
    min-width: $site-min-width;
}

@if $frame-border-box {
    * {
        @include box-sizing('border-box');
    }
}

@if $frame-subheader {
    //Keyframes animation for fading in back to results and view as list buttons.
    @include keyframes(isShown) {
        0%, 75% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

@import "mixins/Frame";

@include frame-stickyFooter;

// Site Logo
#logo {
    @include frame-logo;
}

// Header, Footer, Content
.frame-header {
    @include frame-header;
}

@if $frame-subheader {
    .frame-subheader {
        @include frame-subheader;
        .nav-item {
            @include frame-subheader-nav-item;
        }
        .nav-search {
            @include frame-subheader-search;
        }
    }
}

// frame-content also wraps top level content
.frame-content {
    @include frame-content;
}

.frame-footer {
    @include frame-footer;
}

// Columns
.frame-leftCol {
    @include frame-col-left;
}

.frame-rightCol {
    @include frame-col-right;
}

div[role=main] {
    min-height: $frame-min-height;
}

@import "frame/frame-header-v3";
// page header content
@import "frame/frame-footer";
// page footer content

