// Generate Sprite: Generic Layout Sprite
$generate-folder: "default/" !default !global;
// Change to point to the folder of the layout graphics generate folder, ie: results/generate/*.png
$generate-blob: $generate-folder + "generate/*.png" !default !global;
// Change to point to the folder of the layout graphics generate folder, ie: results/generate/*.png

$disable-generate-sprite-selectors: false !default !global;
$generate-sprite-selectors: $normal-states !default !global;

// Restoring Default Functions
@function generate-sprite-width($sprite) {
    @return image-width(sprite-file($generate-sprites, $sprite));
}

@function generate-sprite-height($sprite) {
    @return image-height(sprite-file($generate-sprites, $sprite));
}

// Overriding Default Mixins
@mixin generate-sprite-selectors($sprite-name, $offset-x: 0, $offset-y: 0, $pseudo: false, $selectors: $generate-sprite-selectors) {
    @each $selector in $selectors {
        @if sprite_has_selector($generate-sprites, $sprite-name, $selector) {
            @if ($pseudo == false) {
                @if index($normal-states, $selector) {
                    &:#{$selector}, &.is-#{$selector} {
                        @include sprite-background-position($generate-sprites, "#{$sprite-name}_#{$selector}", $offset-x, $offset-y);
                    }
                } @else {
                    &.is-#{$selector} {
                        @include sprite-background-position($generate-sprites, "#{$sprite-name}_#{$selector}", $offset-x, $offset-y);
                    }
                }
            } @else {
                @if index($normal-states, $selector) {
                    &:#{$selector}, &.is-#{$selector} {
                        &:#{$pseudo} {
                            @include sprite-background-position($generate-sprites, "#{$sprite-name}_#{$selector}", $offset-x, $offset-y);
                        }
                    }
                } @else {
                    &.is-#{$selector} {
                        &:#{$pseudo} {
                            @include sprite-background-position($generate-sprites, "#{$sprite-name}_#{$selector}", $offset-x, $offset-y);
                        }
                    }
                }
            }
        }
    }
}

@mixin generate-sprite($name, $dimensions: $generate-sprite-dimensions, $offset-x: 0, $offset-y: 0, $pseudo: false, $disable-selectors: $disable-generate-sprite-selectors) {

    @if ($pseudo == false) {
        @extend #{$generate-sprite-base-class};

        @include sprite-background-position($generate-sprites, $name, $offset-x, $offset-y);

        @if $dimensions {
            @include sprite-dimensions($generate-sprites, $name);
        }

    } @else {
        &:#{$pseudo} {
            @extend #{$generate-sprite-base-class};

            @include sprite-background-position($generate-sprites, $name, $offset-x, $offset-y);

            @if $dimensions {
                @include sprite-dimensions($generate-sprites, $name);
            }

            @content;
        }
    }

    @if not $disable-selectors {
        @include generate-sprite-selectors($name, $offset-x, $offset-y, $pseudo);
    }
}

@mixin generate-sprite-no-selectors($name, $dimensions: $generate-sprite-dimensions, $offset-x: 0, $offset-y: 0, $pseudo: false) {
    @include generate-sprite($name, $dimensions: $generate-sprite-dimensions, $offset-x: 0, $offset-y: 0, $pseudo: false, $disable-selectors: true);
}

// All sprites should extend this class
// The generate-sprite mixin will do so for you.
// @if import-once("Sprite.scss") {
// 	#{$generate-sprite-base-class} {
// 		// background: $generate-sprites no-repeat;
// 		background: generated-image-url($generate-folder + "generate.png") no-repeat;
// 	}
// }
